openapi: 3.1.0
info:
  title: Data Access Register
  description: |
    Core APIs for the Central Data Access Register.

    The register records all lawful access to customer energy data by Controllers,
    regardless of the legal basis on which that access rests. It is not exclusively
    a consent register — legitimate interests, public task, legal obligation, and
    contract are all within scope alongside consent-based access.

    **Jurisdiction:** This is a UK-only solution. All Controllers, customers, and
    meter points are within Great Britain. The governing data protection framework
    is **UK GDPR** and the **Data Protection Act 2018**. EU GDPR does not apply.
    The jurisdiction field is fixed to `GB` and does not need to be supplied.

    ## Purpose

    The register provides a single, auditable source of truth for:

    - **Controllers** — to record and demonstrate the legal basis under which they
      access customer meter data.
    - **Data Providers** — to verify that a Controller has a registered, active access
      record before releasing data.
    - **Customers** — to view all parties registered as having lawful access to their
      meter point, on request via any Controller.

    ## Party Model

    | Party | UK GDPR Role | Description |
    |---|---|---|
    | **Data User** | Processor | Operates the register. Fetches and processes meter data on behalf of Controllers. Authenticated via bearer token. |
    | **Controller** | Data Controller | A B2B customer of the Data User. Supplied inline on registration. Bears GDPR accountability for the legal basis and its ongoing validity. |
    | **Customer** | Data Subject | The energy customer. Identified by MPxN to minimise PII held centrally. |
    | **Data Provider** | Data Source | Holds meter data. Verifies access records before releasing data via `GET /access-records/{ak}`. |

    ## Record Structure

    All access records share a single schema — `AccessRecord` — with four sections
    aligned to ISO/IEC TS 27560:2023:

    1. **`record-metadata`** — record identifier, creation timestamp, Controller
       identity, and a reference to the associated Identity Record. Present for all records.
    2. **`notice`** — the privacy notice presented to the customer. Present only for
       consent-based records; null for all other legal bases.
    3. **`processing`** — legal basis, purpose, data types, and related obligations.
       Present for all records.
    4. **`access-event`** — when and how access was registered or consent was obtained;
       current lifecycle state. Present for all records.

    The `notice` and `access-event.consent` sub-object are null for non-consent records.
    The `access-event.consent` sub-object is null for non-consent records and populated
    for consent records.

    ## Identity Records

    The person-property relationship — who the individual is and their occupancy of the
    meter point — is held separately in an **Identity Record** (`/identity-records`).
    This keeps PII (MPxN, address, move-in date) and identity verification evidence
    out of the access record entirely.

    Each `AccessRecord` carries an `identity-record-ref` (`ir` key) linking it to its
    Identity Record. Identity Records are accessible only to authenticated Data Users.
    The unauthenticated `GET /access-records/{ak}` endpoint used by Data Providers
    never returns PII.

    Identity Records support two re-identification flows to reconnect a returning
    customer to an existing record without re-collecting all their details:
    - **Magic link** — a short-lived email link triggers re-identification.
    - **Passkey** — initiates a WebAuthn registration or assertion ceremony.

    ## Legal Basis and Required Fields

    The `processing.legal-basis` value determines which fields within `notice` and
    `access-event.consent` are expected:

    | Legal basis | `notice` | `access-event.consent` |
    |---|---|---|
    | `uk-consent`, `uk-explicit-consent` | **Required** | **Required** |
    | All other bases | Must be null | Must be null |

    For legitimate interests records, `processing.lia-reference` should be supplied.
    For public task or legal obligation records, `processing.statutory-reference`
    should be supplied.

    ## Access Record Lifecycle

    Records are never hard-deleted. All state transitions are recorded with timestamps.

    ```
    [ACTIVE] ──revoke──▶ [REVOKED]
    [ACTIVE] ──expiry──▶ [EXPIRED]
    [DISCOVERED] ──claimed──▶ [ACTIVE]
    [DISCOVERED] ──expiry──▶ [EXPIRED]
    ```

    `REVOKED` represents consent withdrawal (consent records) or the Controller
    removing their registration (non-consent records). Data Providers must deny
    access for any record not in `ACTIVE` state with a future (or null) expiry.

    `DISCOVERED` is a sparse, read-only state created by the DCC when it detects
    historic meter data requests from an organisation that has not yet registered
    as a Data User. These records are visible to Customers for transparency but
    cannot be used to authorise data release. When the organisation onboards as
    a Data User and registers a full access record for the same MPxN, the
    DISCOVERED record is superseded and transitions to `ACTIVE`.

    ## Authentication

    All endpoints except `GET /access-records/{ak}` require a bearer token from
    `GET /auth/token`. Tokens expire after 7200 seconds.

    ## Versioning

    URI-based versioning. Current version: `v1`.

  version: "0.0.12"
  contact:
    name: Auth Energy
    email: contact@auth.energy
    url: https://docs.auth.energy/consent
  license:
    name: Proprietary

servers:
  - url: "https://api.central.consent/v1"
    description: Production

tags:
  - name: Identity Records
    description: >
      Endpoints for Data Users to create and manage Identity Records, which hold
      the person-property relationship (MPxN, address, move-in date, identity
      verification evidence) separately from access records. Supports re-identification
      of returning customers via email magic link or WebAuthn passkey.
  - name: Authentication
    description: Obtain bearer tokens for authenticated endpoints.
  - name: Data Users
    description: >
      Endpoints for Data Users (Processors) to register and manage access records
      on behalf of their Controller customers.
  - name: Data Providers
    description: >
      Endpoints for Data Providers (EDPs) to verify access records and look up
      registered Data User organisations before releasing meter data. Includes
      access record verification via access key and Data User directory lookup
      by DUID, allowing EDPs to confirm both that a specific record is active
      and that the organisation behind it is in good standing.
  - name: DCC
    description: >
      Endpoints restricted to Smart DCC system credentials. Covers two
      responsibilities: (1) submitting discovered access records derived from
      historic meter transaction logs — sparse, read-only records that surface
      to customers for transparency but cannot authorise data release, superseded
      when the organisation registers as a Data User; and (2) submitting Change
      of Tenancy events, which trigger `tenancy.change` webhooks to all Data
      Users with active access records on the affected MPxN.
  - name: Customer Portal
    description: >
      Endpoints supporting the centralised Customer Consent Portal. Data Users
      call these endpoints to create short-lived redirect tokens that allow
      authenticated customers to be sent to the portal in a new browser window.
      The portal itself uses privileged server-side credentials to read and
      revoke access records on the customer's behalf. The portal cannot be
      embedded in an iframe.
  - name: Webhooks
    description: >
      Endpoints for Controllers to register and manage webhook subscriptions.
      The register dispatches event payloads to registered callback URLs when
      consent records are approaching expiry or when a Change of Tenancy is
      recorded against an MPxN with active access records.

paths:

  # ---------------------------------------------------------------------------
  # Identity Records — person-property relationship and re-identification
  # ---------------------------------------------------------------------------

  /identity-records:
    get:
      operationId: lookupIdentityRecords
      summary: Look Up Identity Records
      description: |
        Returns Identity Records matching the supplied lookup parameters. Used by
        a Data User to locate an existing record for a returning customer before
        initiating re-identification.

        At least one of `mpxn` or `email` must be supplied. Supplying both narrows
        results to records where both values match.

        Results are scoped to the authenticated Data User — a Data User cannot
        look up records created by another Data User.

        **Note on email lookup:** The register stores a one-way hash of the email
        address for lookup purposes. The plaintext email is never returned in
        responses. A match confirms a record exists for that address; the Data User
        should already hold the email in their own system.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: mpxn
          in: query
          required: false
          description: Filter by meter point identifier.
          schema:
            $ref: "#/components/schemas/MPxN"
        - name: email
          in: query
          required: false
          description: >
            Filter by customer email address. Matched against a stored hash —
            the plaintext is not retained in results.
          schema:
            type: string
            format: email
      responses:
        "200":
          description: Matching identity records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupIdentityRecordsResponse"
              example:
                response:
                  resource: /v1/identity-records?mpxn=1234567890123
                  timestamp: "2026-03-24T09:00:00Z"
                  transaction-id: tid_abc123def456abc123def456
                identity-records:
                  - ir: ir_a3c5e7f9b1d3a3c5e7f9b1d3
                    created-at: "2024-01-15T09:30:00Z"
                    pii-principal:
                      mpxn: "1234567890123"
                      move-in-date: "2022-06-30"
                    expressed-by: data-subject
                    has-email: true
                    credentials:
                      - credential-id: cred_1a2b3c4d5e6f1a2b3c4d5e6f
                        registered-at: "2024-01-15T09:35:00Z"
        "400":
          description: Neither `mpxn` nor `email` was supplied.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      operationId: createIdentityRecord
      summary: Create an Identity Record
      description: |
        Creates an Identity Record holding the person-property relationship for a
        consent or access registration. Returns an `ir` key that must be supplied
        as `record-metadata.identity-record-ref` when creating the linked AccessRecord.

        The Identity Record holds:
        - `pii-principal` — MPxN, move-in date, and optionally address.
        - `expressed-by` — whether the data subject or an authorised representative
          initiated the registration.
        - `principal-verification` — identity verification evidence (method, outcome,
          reference). Strongly recommended; null if no structured verification was performed.
        - `email` — customer email address, stored as a one-way hash for future
          magic-link re-identification and lookup. Optional but required if magic-link
          re-identification is to be used.
        - `initiate-passkey-registration` — if `true`, the response includes
          `passkey-registration-options` (a WebAuthn challenge and rp-id) for the
          client to present to the browser. The resulting credential must be submitted
          to `POST /identity-records/{ir}/credentials` to complete registration and
          store the public key on the record.

        Identity Records are scoped to the authenticated Data User and are never
        exposed to the unauthenticated `GET /access-records/{ak}` endpoint used by
        Data Providers.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIdentityRecordRequest"
            examples:
              with-email-and-passkey:
                summary: With email and passkey registration initiated
                value:
                  pii-principal:
                    mpxn: "1234567890123"
                    move-in-date: "2022-06-30"
                    address:
                      addressLine1: "221B Baker Street"
                      townCity: "London"
                      postcode: "NW1 6XE"
                  expressed-by: data-subject
                  email: "customer@example.com"
                  initiate-passkey-registration: true
                  principal-verification:
                    method: "credit-card"
                    verified-at: "2023-11-07T05:30:45Z"
                    outcome: verified
                    reference: "ch_3ABC123xyz"
                    submitted: "XXXX-XXXX-XXXX-4242"
                    verified-against: "Stripe customer record cus_ABC123"
                    detail:
                      last4: "4242"
                      brand: "visa"
                      stripe_customer: "cus_ABC123"
              email-only:
                summary: With email, no passkey
                value:
                  pii-principal:
                    mpxn: "1234567890123"
                    move-in-date: "2020-01-01"
                  expressed-by: data-subject
                  email: "customer@example.com"
                  principal-verification: null
              minimal:
                summary: No re-identification credentials
                value:
                  pii-principal:
                    mpxn: "1234567890123"
                    move-in-date: "2020-01-01"
                  expressed-by: data-subject
                  principal-verification: null
      responses:
        "201":
          description: |
            Identity record created successfully. If `initiate-passkey-registration`
            was `true`, `passkey-registration-options` is populated — pass these to
            `navigator.credentials.create()` and submit the result to
            `POST /identity-records/{ir}/credentials`.
          headers:
            Location:
              description: URL of the newly created identity record.
              schema:
                type: string
                example: "/v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateIdentityRecordResponse"
              examples:
                with-passkey-options:
                  summary: Response when passkey registration was initiated
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3
                      timestamp: "2024-01-15T09:30:00Z"
                      transaction-id: tid_691df0c788ca043403b7fa90
                    ir: ir_a3c5e7f9b1d3a3c5e7f9b1d3
                    passkey-registration-options:
                      challenge: "Y2hhbGxlbmdlX2V4YW1wbGVfYmFzZTY0dXJs"
                      rp-id: "central.consent"
                      rp-name: "Data Access Register"
                      user-id: "aXJfYTNjNWU3ZjliMWQz"
                      user-name: "customer@example.com"
                      timeout: 60000
                without-passkey-options:
                  summary: Response when no passkey registration requested
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3
                      timestamp: "2024-01-15T09:30:00Z"
                      transaction-id: tid_691df0c788ca043403b7fa90
                    ir: ir_a3c5e7f9b1d3a3c5e7f9b1d3
                    passkey-registration-options: null
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /identity-records/{ir}:
    get:
      operationId: getIdentityRecord
      summary: Retrieve an Identity Record
      description: |
        Returns the full Identity Record for a given `ir` key. Only accessible to
        the authenticated Data User that created the record.

        The `email` field is never returned in plaintext — `has-email` indicates
        whether an email address is registered on the record. The `credentials`
        array returns passkey metadata (credential ID, registered-at) but never
        the public key material itself.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: ir
          in: path
          description: The identity record key issued at creation.
          required: true
          schema:
            $ref: "#/components/schemas/IdentityRecordKey"
      responses:
        "200":
          description: Identity record found and returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIdentityRecordResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      operationId: deleteIdentityRecord
      summary: Anonymise an Identity Record
      description: |
        Anonymises an Identity Record in response to a GDPR Art. 17 erasure
        request. The record is retained in a tombstoned state for audit continuity
        — the `ir` key remains valid and the linked AccessRecord continues to
        reference it — but all PII fields (`pii-principal`, `email`, `credentials`,
        and `principal-verification`) are permanently destroyed.

        **Pre-condition:** All AccessRecords linked to this Identity Record must be
        in `REVOKED` or `EXPIRED` state. Attempting to anonymise an Identity Record
        linked to an `ACTIVE` access record returns `409`.

        This operation is irreversible.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: ir
          in: path
          description: The identity record key to anonymise.
          required: true
          schema:
            $ref: "#/components/schemas/IdentityRecordKey"
      responses:
        "200":
          description: Identity record anonymised. All PII permanently destroyed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnonymiseIdentityRecordResponse"
              example:
                response:
                  resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3
                  timestamp: "2026-03-24T10:00:00Z"
                  transaction-id: tid_abc123def456abc123def456
                ir: ir_a3c5e7f9b1d3a3c5e7f9b1d3
                anonymised-at: "2026-03-24T10:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >
            One or more linked AccessRecords are still `ACTIVE`. Revoke or allow
            all linked access records to expire before anonymising.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /identity-records/{ir}/credentials:
    post:
      operationId: registerPasskeyCredential
      summary: Register a Passkey Credential
      description: |
        Completes a WebAuthn passkey registration ceremony by submitting the signed
        credential response from the browser back to the register. The register
        verifies the response against the pending challenge and stores the public
        key on the Identity Record.

        **Flow:**
        1. A passkey registration challenge is issued either at Identity Record
           creation (`initiate-passkey-registration: true` on `POST /identity-records`)
           or on demand via `POST /identity-records/{ir}/re-identify` with
           `method: passkey-register`.
        2. The Data User passes the `passkey-registration-options` to
           `navigator.credentials.create()` in the browser.
        3. The browser returns a `PublicKeyCredential`. The Data User submits its
           serialised response body to this endpoint.
        4. On success, the credential is stored and a `credential-id` is returned
           for future reference.

        Challenges expire after 5 minutes. Submitting an expired or already-used
        challenge returns `400`.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: ir
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/IdentityRecordKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterCredentialRequest"
            example:
              client-data-json: "eyJ0eXBlIjoid2ViYXV0aG4uY3JlYXRlIiwiY2hhbGxlbmdlIjoiWTJoaGJHeGxibWRsWDJWNFlXMXdiR1ZmWW1GelpUWTBkWEpzIiwib3JpZ2luIjoiaHR0cHM6Ly9jZW50cmFsLmNvbnNlbnQifQ"
              attestation-object: "o2NmbXRkbm9uZWdhdHRTdG10oGhhdXRoRGF0YVik..."
              transports:
                - internal
      responses:
        "201":
          description: Passkey credential registered and stored on the Identity Record.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterCredentialResponse"
              example:
                response:
                  resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3/credentials
                  timestamp: "2024-01-15T09:35:00Z"
                  transaction-id: tid_9f8e7d6c5b4a9f8e7d6c5b4a
                credential-id: cred_1a2b3c4d5e6f1a2b3c4d5e6f
                registered-at: "2024-01-15T09:35:00Z"
        "400":
          description: >
            Challenge expired, already used, or credential response failed
            verification.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /identity-records/{ir}/credentials/{credentialId}:
    delete:
      operationId: removePasskeyCredential
      summary: Remove a Passkey Credential
      description: |
        Removes a registered passkey credential from an Identity Record. The
        credential can no longer be used for passkey assertion after removal.

        If no credentials remain on the record after removal, passkey-based
        re-identification is no longer available for this Identity Record.
        Magic-link re-identification remains available if an email address is
        registered.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: ir
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/IdentityRecordKey"
        - name: credentialId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/CredentialId"
      responses:
        "204":
          description: Credential removed. No response body.
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /identity-records/{ir}/re-identify:
    post:
      operationId: reIdentify
      summary: Initiate Re-identification
      description: |
        Initiates or completes a re-identification flow for a returning customer,
        reconnecting them to their existing Identity Record without re-collecting
        all their details.

        **Three methods are supported:**

        **`magic-link`** — requires `email` to be stored on the Identity Record.
        The register dispatches a short-lived signed URL to the stored email address.
        The link expires after 15 minutes and is single-use. On redemption the
        register marks the re-identification as confirmed. The Data User polls
        `GET /identity-records/{ir}/re-identify/{token-ref}` to confirm completion.

        **`passkey-assert`** — requires at least one credential registered on the
        Identity Record. The register returns a WebAuthn assertion challenge. The
        Data User passes this to `navigator.credentials.get()`, then submits the
        signed assertion response back to this endpoint with `method: passkey-assert-complete`
        to verify and confirm re-identification.

        **`passkey-register`** — used when the customer has no existing passkey
        on the record (e.g. new device). Returns a WebAuthn registration challenge.
        The Data User completes the ceremony via `POST /identity-records/{ir}/credentials`
        to store the new public key, then the re-identification is confirmed.

        Re-identification does not modify the core Identity Record fields. It is a
        verification step confirming the returning individual is the same principal
        as originally recorded.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: ir
          in: path
          description: The identity record key for the returning principal.
          required: true
          schema:
            $ref: "#/components/schemas/IdentityRecordKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReIdentifyRequest"
            examples:
              magic-link:
                summary: Initiate magic-link dispatch
                value:
                  method: magic-link
              passkey-assert:
                summary: Initiate passkey assertion (existing credential)
                value:
                  method: passkey-assert
              passkey-register:
                summary: Initiate passkey registration (new device)
                value:
                  method: passkey-register
              passkey-assert-complete:
                summary: Complete passkey assertion — submit signed credential response
                value:
                  method: passkey-assert-complete
                  assertion-response:
                    credential-id: "AQIDBAUGBwgJCgsMDQ4PEA"
                    client-data-json: "eyJ0eXBlIjoid2ViYXV0aG4uZ2V0IiwiY2hhbGxlbmdlIjoiWTJoaGJHeGxibWRsWDJWNFlXMXdiR1ZmWW1GelpUWTBkWEpzIn0"
                    authenticator-data: "SZYN5YgOjGh0NBcPZHZgW4_krrmihjLHmVzzuoMdl2MFAAAAAA"
                    signature: "MEUCIQDKypPONFnLSLpRJ_..."
      responses:
        "200":
          description: |
            Re-identification flow initiated or completed.

            - For `magic-link`: link dispatched, `magic-link` object populated.
            - For `passkey-assert` or `passkey-register`: challenge issued, `passkey` object populated.
            - For `passkey-assert-complete`: assertion verified, `verified: true` returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReIdentifyResponse"
              examples:
                magic-link-dispatched:
                  summary: Magic link dispatched
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3/re-identify
                      timestamp: "2026-03-24T09:00:00Z"
                      transaction-id: tid_abc123def456abc123def456
                    method: magic-link
                    verified: false
                    magic-link:
                      dispatched-to: "c*****r@example.com"
                      expires-at: "2026-03-24T09:15:00Z"
                      token-ref: mlr_9f8e7d6c5b4a9f8e7d6c5b4a
                    passkey: null
                passkey-assert-challenge:
                  summary: Passkey assertion challenge issued
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3/re-identify
                      timestamp: "2026-03-24T09:00:00Z"
                      transaction-id: tid_abc123def456abc123def456
                    method: passkey-assert
                    verified: false
                    magic-link: null
                    passkey:
                      challenge: "Y2hhbGxlbmdlX2V4YW1wbGVfYmFzZTY0dXJs"
                      rp-id: "central.consent"
                      timeout: 60000
                      allowed-credentials:
                        - cred_1a2b3c4d5e6f1a2b3c4d5e6f
                passkey-assert-verified:
                  summary: Passkey assertion verified
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3/re-identify
                      timestamp: "2026-03-24T09:01:00Z"
                      transaction-id: tid_def456abc123def456abc123
                    method: passkey-assert-complete
                    verified: true
                    magic-link: null
                    passkey: null
        "400":
          description: >
            Invalid method, missing required fields, challenge expired or already
            used, or assertion response failed verification.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >
            The Identity Record has been anonymised and cannot be used for
            re-identification.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: >
            `magic-link` requested but no email address is stored on this
            Identity Record. `passkey-assert` requested but no credentials
            are registered.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /identity-records/{ir}/re-identify/{tokenRef}:
    get:
      operationId: pollReIdentifyStatus
      summary: Poll Magic-Link Re-identification Status
      description: |
        Polls the status of a magic-link re-identification flow. The `token-ref`
        is returned when `POST /identity-records/{ir}/re-identify` is called with
        `method: magic-link`.

        Poll this endpoint until `status` is `confirmed` (customer clicked the
        link) or `expired` (15-minute window elapsed without redemption).

        **Suggested polling interval:** every 3–5 seconds. Stop polling on
        `confirmed`, `expired`, or after 20 minutes.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: ir
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/IdentityRecordKey"
        - name: tokenRef
          in: path
          required: true
          description: The `token-ref` returned by the magic-link initiation call.
          schema:
            type: string
            pattern: "^mlr_[0-9a-f]{24}$"
            example: "mlr_9f8e7d6c5b4a9f8e7d6c5b4a"
      responses:
        "200":
          description: Status returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReIdentifyStatusResponse"
              examples:
                pending:
                  summary: Awaiting customer redemption
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3/re-identify/mlr_9f8e7d6c5b4a9f8e7d6c5b4a
                      timestamp: "2026-03-24T09:05:00Z"
                      transaction-id: tid_aabbccddeeff001122334455
                    status: pending
                    confirmed-at: null
                confirmed:
                  summary: Customer redeemed the link
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3/re-identify/mlr_9f8e7d6c5b4a9f8e7d6c5b4a
                      timestamp: "2026-03-24T09:07:30Z"
                      transaction-id: tid_112233445566778899aabbcc
                    status: confirmed
                    confirmed-at: "2026-03-24T09:07:28Z"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/token:
    get:
      operationId: getAuthToken
      summary: Obtain Bearer Token
      description: |
        Exchange Basic Auth credentials for a short-lived JWT bearer token.
        Cache and reuse until expiry. Credentials Base64-encoded as `account_id:secret_key`.
      tags:
        - Authentication
      security:
        - basicAuth: []
      responses:
        "200":
          description: Token issued successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthToken"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /access-records:
    post:
      operationId: createAccessRecord
      summary: Create an Access Record
      description: |
        Registers a new access record on behalf of a Controller. Returns `201` and
        an `access-token` containing the new access key (`ak`), plus a `Location`
        header pointing to the created resource.

        All records use the same `AccessRecord` schema. The `processing.legal-basis`
        value determines which additional fields are expected:

        - **Consent bases** — populate `notice` and `access-event.consent`.
        - **Legitimate interests** — populate `processing.lia-reference`; set `notice`
          and `access-event.consent` to null.
        - **Public task / legal obligation** — populate `processing.statutory-reference`;
          set `notice` and `access-event.consent` to null.
        - **Contract** — set `notice` and `access-event.consent` to null.

        Historic records may be submitted — `access-event.registered-at` may predate
        `record-metadata.created-at`.

        If the DCC has previously submitted a `DISCOVERED` record for the same MPxN
        and organisation, the register will link the two records on creation. The
        DISCOVERED record is retained for audit; the new full record becomes `ACTIVE`.

        To update an existing record use `PUT /access-records/{ak}`.
      tags:
        - Data Users
      security:
        - bearerAuth: []
      requestBody:
        description: An AccessRecord. All legal bases use this same schema.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessRecord"
            examples:
              consent:
                summary: Consent-based access
                value:
                  record-metadata:
                    schema-version: "1.0"
                    controller:
                      name: "Bright Energy Ltd"
                      contact-url: "https://bright-energy.com/contact"
                      address:
                        addressLine1: "10 Canary Wharf"
                        townCity: "London"
                        postcode: "E14 5AB"
                    identity-record-ref: "ir_a3c5e7f9b1d3a3c5e7f9b1d3"
                  notice:
                    terms-url: "https://bright-energy.com/privacy-v3.html"
                    notice-version: "v3.2"
                    notice-language: "en"
                  processing:
                    legal-basis: "uk-consent"
                    purpose: "Energy efficiency analysis and tariff recommendations"
                    data-types:
                      - HH-CONSUMPTION
                      - HH-EXPORT
                    privacy-rights-url: "https://bright-energy.com/your-rights"
                  access-event:
                    state: ACTIVE
                    registered-at: "2023-11-07T05:31:56Z"
                    expiry: "2027-11-10T17:07:01.580Z"
                    controller-reference: "REF-00123"
                    consent:
                      consent-type: expressed-consent
                      method: "Explicit web checkbox"
              legitimate-interests:
                summary: Legitimate interests access
                value:
                  record-metadata:
                    schema-version: "1.0"
                    controller:
                      name: "Grid Analytics Ltd"
                      contact-url: "https://gridanalytics.com/contact"
                      address:
                        addressLine1: "5 Tech Park"
                        townCity: "Manchester"
                        postcode: "M1 2AB"
                    identity-record-ref: "ir_b4d6f8a0c2e4b4d6f8a0c2e4"
                  notice: null
                  processing:
                    legal-basis: "uk-legitimate-interests"
                    purpose: "Network load balancing and demand forecasting"
                    data-types:
                      - HH-CONSUMPTION
                    privacy-rights-url: "https://gridanalytics.com/your-rights"
                    lia-reference: "LIA-2024-003"
                  access-event:
                    state: ACTIVE
                    registered-at: "2024-03-01T09:00:00Z"
                    expiry: "2026-03-01T00:00:00Z"
                    controller-reference: "CONTRACT-9981"
                    consent: null
              public-task:
                summary: Public task access (regulated/statutory body)
                value:
                  record-metadata:
                    schema-version: "1.0"
                    controller:
                      name: "Northern Networks plc"
                      contact-url: "https://northernnetworks.co.uk/contact"
                      address:
                        addressLine1: "1 Grid House"
                        townCity: "Leeds"
                        postcode: "LS1 1AA"
                    identity-record-ref: "ir_c5e7a9b1d3f5c5e7a9b1d3f5"
                  notice: null
                  processing:
                    legal-basis: "uk-public-task"
                    purpose: "Statutory network safety and capacity monitoring"
                    data-types:
                      - HH-CONSUMPTION
                      - HH-EXPORT
                    privacy-rights-url: "https://northernnetworks.co.uk/your-rights"
                    statutory-reference: "Energy Act 2023, s.147"
                  access-event:
                    state: ACTIVE
                    registered-at: "2024-01-15T00:00:00Z"
                    expiry: null
                    controller-reference: "OFGEM-AUTH-2024-0042"
                    consent: null
      responses:
        "201":
          description: Access record created successfully.
          headers:
            Location:
              description: URL of the newly created access record.
              schema:
                type: string
                example: "/v1/access-records/ak_691df0c788ca043403b7fa90"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterAccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /access-records/{ak}:
    get:
      operationId: verifyAccess
      summary: Verify Access Record
      description: |
        Returns the full access record for a given access key. Called by Data Providers
        before releasing meter data.

        **Authentication:** Unauthenticated by design. The access key acts as the
        credential; treat it as a secret.

        **Note on PII:** This endpoint returns no PII. The person-property relationship
        (MPxN, address, move-in date, identity verification) is held in the linked
        Identity Record, which is accessible only to authenticated Data Users via
        `GET /identity-records/{ir}`. The `identity-record-ref` in `record-metadata`
        provides the link.

        **Verification checklist (all record types):**
        1. `access-event.state` must be `ACTIVE`.
        2. `access-event.expiry` must be in the future, or null.
        3. `record-metadata.controller` identity must match the organisation you have
           a verified commercial relationship with on your platform.
        4. The data types being requested must be within `processing.data-types`.
        5. Log `response.transaction-id` for your audit trail.

        **Additional checks by legal basis:**
        - Consent records: confirm `access-event.consent.consent-type` is appropriate
          for the data category being released.
        - Legitimate interests: confirm `processing.lia-reference` is present.
        - Public task / legal obligation: confirm `processing.statutory-reference`
          is present.
      tags:
        - Data Providers
      parameters:
        - name: ak
          in: path
          description: The access key issued at registration.
          required: true
          schema:
            $ref: "#/components/schemas/AccessKey"
      responses:
        "200":
          description: Access record found and returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyAccessResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      operationId: replaceAccessRecord
      summary: Replace an Access Record
      description: |
        Replaces the full payload of an existing access record. The record identified
        by `ak` must have been registered by the authenticated Data User.

        This is a full replacement — the entire `AccessRecord` body must be supplied.
        The `ak`, `duid`, `created-at`, and `record-metadata.record-identifier` are
        preserved from the original; all other fields are replaced with the submitted
        payload.

        Use this to:
        - Refresh a consent record when the customer renews (e.g. update `expiry`
          or `notice-version`). To update identity verification evidence, update
          the linked Identity Record via `POST /identity-records` and update
          `record-metadata.identity-record-ref` to the new `ir` key.
        - Correct an error in a submitted record
        - Update `processing.purpose` or `data-types` after a scope change

        **State constraint:** Only `ACTIVE` records may be replaced. Attempting to
        replace a `REVOKED` or `EXPIRED` record returns `409`.
      tags:
        - Data Users
      security:
        - bearerAuth: []
      parameters:
        - name: ak
          in: path
          description: The access key of the record to replace.
          required: true
          schema:
            $ref: "#/components/schemas/AccessKey"
      requestBody:
        description: Full AccessRecord replacement payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessRecord"
      responses:
        "200":
          description: Access record replaced successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterAccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >
            Record is not in `ACTIVE` state and cannot be replaced.
            `REVOKED` and `EXPIRED` records are immutable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      operationId: revokeAccess
      summary: Revoke Access Record
      description: |
        Revokes an access record. Transitions the record to `REVOKED` state with a
        `revoked-at` timestamp. Records are retained for audit — not deleted.

        For consent records this represents customer withdrawal of consent.
        For non-consent records this represents the Controller removing their
        access registration (e.g. LIA no longer applicable, contract ended,
        statutory authority lapsed).

        After revocation `GET /access-records/{ak}` returns the record in `REVOKED`
        state. Data Providers must deny access for any non-`ACTIVE` record.
      tags:
        - Data Users
      security:
        - bearerAuth: []
      parameters:
        - name: ak
          in: path
          description: The access key to revoke.
          required: true
          schema:
            $ref: "#/components/schemas/AccessKey"
      responses:
        "200":
          description: Access record revoked. Record retained in REVOKED state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeAccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /meter-points/{mpxn}/access-records:
    get:
      operationId: listAccessRecords
      summary: List Access Records for a Meter Point
      description: |
        <Warning>Could be fully disabled if [Central Portal](/dar/customer-portal) is prefered mechanism</Warning>

        Returns access records associated with a given MPxN, registered by the
        authenticated Data User. Covers all legal bases and all lifecycle states
        unless filtered. Supports customer transparency — customers may request
        this list via any Controller to see who holds registered access to their
        meter point data.

        `DISCOVERED` records submitted by the DCC are also returned in this
        response, allowing customers to see organisations known to have accessed
        their meter data historically that have not yet registered as Data Users.
        DISCOVERED records are clearly distinguished by their `state` field and
        contain only the sparse `discovered-access` object rather than a full
        access record.
      tags:
        - Data Users
      security:
        - bearerAuth: []
      parameters:
        - name: mpxn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/MPxN"
        - name: state
          in: query
          description: Filter by record lifecycle state. Omit to return all states.
          required: false
          schema:
            $ref: "#/components/schemas/AccessState"
        - name: legal-basis
          in: query
          description: Filter by legal basis. Omit to return all bases.
          required: false
          schema:
            $ref: "#/components/schemas/LegalBasis"
      responses:
        "200":
          description: Access record list returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccessRecordsResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # Customer Portal: session token issuance
  # ---------------------------------------------------------------------------

  /customer-sessions:
    post:
      operationId: createCustomerSession
      summary: Create a Customer Portal Session
      description: |
        Issues a short-lived, single-use redirect token allowing a Data User to
        open the centralised Customer Consent Portal for an authenticated customer.

        The redirect token is URL-safe, expires in 60 seconds, and is single-use
        — it exists solely to survive the browser redirect. On redemption, the
        portal issues its own server-side session (stored as an `httpOnly` cookie
        on the portal domain) with a TTL of up to 8 hours, renewable on activity.
        The Data User never has access to the portal session.

        **Portal access controls:**

        The portal enforces the following independently of this endpoint:

        - `X-Frame-Options: DENY` and `Content-Security-Policy: frame-ancestors 'none'`
          are set on all portal responses. The portal cannot be embedded in an
          iframe by any origin, including the Data User's own application.
        - The portal session cookie is `httpOnly`, `Secure`, and `SameSite=Strict`.
          It is not accessible to JavaScript and cannot be read or used by the
          Data User application.
        - The portal session is bound to the MPxN resolved at token redemption.
          A customer cannot navigate to another customer's records within the
          same portal session.
        - The `return-url` is validated against the Data User's pre-registered
          callback URLs. Unregistered URLs are rejected with `400`.

        **`purpose` field:**

        The `purpose` field declares the intended use of the session and is
        recorded for audit. The portal enforces it:

        - `view` — the customer can browse records but withdrawal controls are
          not shown.
        - `manage` — the customer can browse records and withdraw consent for
          active consent-based records.

        A Data User declaring `view` cannot cause the portal to expose withdrawal
        controls, regardless of what the customer does in the browser.
      tags:
        - Customer Portal
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerSessionRequest"
            example:
              mpxn: "1234567890123"
              return-url: "https://app.bright-energy.com/dashboard"
              purpose: manage
      responses:
        "201":
          description: Redirect token issued. Open `portal-url` in a new browser window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCustomerSessionResponse"
              example:
                response:
                  resource: /v1/customer-sessions
                  timestamp: "2026-03-19T10:00:00Z"
                  transaction-id: tid_abc123def456abc123def456
                session-token: cst_a1b2c3d4e5f6a1b2c3d4e5f6
                expires-in: 60
                portal-url: "https://portal.central.consent/consents?token=cst_a1b2c3d4e5f6a1b2c3d4e5f6"
        "400":
          description: >
            `return-url` is not registered for this Data User, or request
            body is malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # DCC: Discovered access records
  # ---------------------------------------------------------------------------

  /discovered-access:
    post:
      operationId: submitDiscoveredAccess
      summary: Submit a Discovered Access Record
      description: |
        Submits a sparse, system-generated access record derived from DCC
        historic meter transaction logs. Used when the DCC detects that an
        organisation has been making data requests against a meter point but has
        not yet registered as a Data User in the DAR.

        Discovered records are distinct from full access records in two important
        ways:

        1. **Read-only for authorisation** — a `DISCOVERED` record cannot be
           used by a Data Provider to authorise data release. `GET /access-records/{ak}`
           will return the record but with `access-event.state` set to `DISCOVERED`;
           Data Providers must treat this as a denial.

        2. **Consumer transparency** — `DISCOVERED` records appear in
           `GET /meter-points/{mpxn}/access-records` responses so customers can
           see all parties known to have accessed their data, regardless of whether
           those parties have formalised their registration.

        When the organisation subsequently onboards as a Data User and submits a
        full access record via `POST /access-records` for the same MPxN and
        organisation, the register links the two records. The DISCOVERED record
        is retained for audit; the new full record becomes `ACTIVE`.

        **Authentication:** Restricted to DCC system credentials. Standard Data
        User bearer tokens are rejected on this endpoint.

        **Sparse schema:** Only the fields defined in `DiscoveredAccessRecord`
        are accepted. The full `AccessRecord` schema is not used here — `notice`,
        `access-event.consent`, and `processing.lia-reference` are not applicable
        and must not be supplied.
      tags:
        - DCC
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveredAccessRecord"
            example:
              mpxn: "1234567890123"
              organisation-name: "Acme Energy Services Ltd"
              organisation-reference: "org_abc123def456"
              first-seen: "2024-06-01"
              last-seen: "2026-02-28"
              data-types-observed:
                - HH-CONSUMPTION
              source-reference: "DCC-TX-LOG-2026-03-001"
      responses:
        "201":
          description: Discovered access record created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitDiscoveredAccessResponse"
        "200":
          description: >
            Existing discovered access record updated (same mpxn and
            organisation-reference already present).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitDiscoveredAccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          description: >
            Caller does not hold DCC system credentials. This endpoint is not
            accessible to standard Data User bearer tokens.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # DCC: Change of Tenancy events
  # ---------------------------------------------------------------------------

  /cot-events:
    post:
      operationId: submitCotEvent
      summary: Submit a Change of Tenancy Event
      description: |
        Records a Change of Tenancy (CoT) against an MPxN and triggers
        `tenancy.change` webhooks to all Data Users with one or more `ACTIVE`
        access records on that MPxN.

        **Authentication:** Restricted to DCC system credentials. Standard Data
        User bearer tokens are rejected on this endpoint with `403`.

        **What the register does on receipt:**
        1. Records the CoT event for audit with the MPxN, effective date, and
           DCC source reference.
        2. Identifies all `ACTIVE` access records for the MPxN across all
           registered Data Users.
        3. Fires a `tenancy.change` webhook to each affected Data User,
           including the `affected-aks` array so Data Users can perform targeted
           revocations without a separate list query.
        4. Returns a summary of Data Users notified and records affected.

        **What the register does NOT do:**
        Automatically revoke access records. Revocation is the Controller's
        responsibility on receipt of the webhook. CoT events from the DCC can
        occasionally be false alerts; Controllers should verify before revoking
        records with non-occupancy legal bases (e.g. `uk-public-task`,
        `uk-legitimate-interests`).

        **Idempotency:** Submitting the same `mpxn` + `effective-date` +
        `source-reference` returns `200` and does not re-fire webhooks.

        **PII:** The payload contains only the MPxN and the effective date. No
        new occupant name, address, or contact details are included.
      tags:
        - DCC
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CotEventRequest"
            example:
              mpxn: "1234567890123"
              effective-date: "2026-04-01"
              source-reference: "MPAS-COT-2026-03-00142"
      responses:
        "201":
          description: >
            CoT event recorded and `tenancy.change` webhooks dispatched to all
            affected Data Users.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CotEventResponse"
              example:
                response:
                  resource: /v1/cot-events
                  timestamp: "2026-03-20T09:15:00Z"
                  transaction-id: tid_9f8e7d6c5b4a9f8e7d6c5b4a
                mpxn: "1234567890123"
                effective-date: "2026-04-01"
                source-reference: "MPAS-COT-2026-03-00142"
                active-records-affected: 2
                data-users-notified:
                  - duid_691df0c788ca043403b7fa90
                  - duid_aabbcc112233445566778899
        "200":
          description: >
            Duplicate event — same `mpxn`, `effective-date`, and `source-reference`
            already recorded. No webhooks re-fired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CotEventResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          description: >
            Caller does not hold DCC system credentials. This endpoint is not
            accessible to standard Data User bearer tokens.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # Data Providers: DUID directory lookup (merged into Data Providers tag)
  # ---------------------------------------------------------------------------

  /data-users/{duid}:
    get:
      operationId: getDataUser
      summary: Look Up a Data User by DUID
      description: |
        Returns profile and status information for a registered Data User
        organisation identified by DUID.

        **Intended caller: Data Providers.**

        When a Data Provider calls `GET /access-records/{ak}` to verify an
        access record, the response includes a `duid` identifying the organisation
        that registered the record. Without this endpoint, the Data Provider has
        no independent means to confirm that the `duid` belongs to an active,
        known organisation — they can only rely on their own bilateral
        onboarding records.

        This endpoint closes that gap by providing a central directory lookup.
        Data Providers **should** call this endpoint as part of first-time
        onboarding of a new DUID encountered in a verification response, and
        **may** call it periodically to detect status changes (e.g. suspension).

        **Authentication:** Bearer token required. Data Providers must obtain
        a token via `GET /auth/token` using their own `account_id:secret_key`
        credentials, which are provisioned separately from Data User credentials.

        **Note on DUID mapping:** The register intentionally does not map DUIDs
        to Data Provider platform account IDs — that linkage is the Data
        Provider's responsibility, as stated in the `GET /access-records/{ak}`
        verification checklist. This endpoint supplies the canonical
        human-readable identity (name, status, contact) for the DUID so the
        Data Provider can confirm the mapping is correct on their side.
      tags:
        - Data Providers
      security:
        - bearerAuth: []
      parameters:
        - name: duid
          in: path
          required: true
          description: >
            The Data User identifier to look up. Format: `duid_` followed by
            24 lowercase hex characters.
          schema:
            $ref: "#/components/schemas/DataUserId"
      responses:
        "200":
          description: Data User found and returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDataUserResponse"
              example:
                response:
                  resource: /v1/data-users/duid_691df0c788ca043403b7fa90
                  timestamp: "2026-03-18T10:00:00Z"
                  transaction-id: tid_abc123def456abc123def456
                data-user:
                  duid: duid_691df0c788ca043403b7fa90
                  display-name: "Bright Energy Services Ltd"
                  status: active
                  registered-at: "2024-01-15T09:00:00Z"
                  contact-url: "https://bright-energy.com/contact"
                  data-types-supported:
                    - HH-CONSUMPTION
                    - HH-EXPORT
                    - TARIFF-IMPORT
        "401":
          $ref: "#/components/responses/Unauthorised"
        "404":
          description: >
            No Data User with the supplied DUID exists in the register.
            Data Providers receiving an unknown DUID in a verification response
            should treat this as a signal to deny data release and raise a
            support query.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # NEW: Webhook registration — Controllers subscribe to lifecycle events
  # ---------------------------------------------------------------------------

  /webhooks:
    get:
      operationId: listWebhooks
      summary: List Webhook Subscriptions
      description: |
        Returns all active webhook subscriptions registered by the authenticated
        Data User.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Webhook list returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      operationId: registerWebhook
      summary: Register a Webhook Subscription
      description: |
        Registers an HTTPS callback URL to receive lifecycle event notifications
        dispatched by the register.

        **Two event types** are delivered to the same callback URL, distinguished
        by the `event-type` field in the payload envelope:

        - `consent.expiring` — fired when a consent-based access record is within
          the `notify-days-before` window of its `access-event.expiry` date. Allows
          Controllers to prompt the customer to renew before their access lapses.
          Only fired for records where `access-event.expiry` is non-null and
          `access-event.state` is `ACTIVE`.

        - `tenancy.change` — fired when the register receives notification that a
          Change of Tenancy has been recorded against an MPxN that has one or more
          `ACTIVE` access records. Controllers should use this to halt data
          collection for the departing occupant and, if appropriate, initiate a
          fresh consent or access registration for the new occupant. The event
          carries only the MPxN and the effective date of the change — no new
          occupant PII is included.

        **Delivery semantics:**
        - The register performs an HTTPS POST to the `callback-url` with the event
          payload as the request body.
        - The callback endpoint must respond with HTTP `2xx` within 10 seconds.
        - On failure the register retries with exponential backoff: 1 min, 5 min,
          30 min, 2 hr, 24 hr. After 5 failed attempts the event is marked
          `undelivered` and the Data User is notified via the registered
          `alert-email`.
        - The register signs each delivery with an HMAC-SHA256 signature over the
          raw request body, using the `signing-secret` returned at registration.
          The signature is passed in the `X-DAR-Signature` header as
          `sha256=<hex-digest>`. Receivers must verify this before processing.

        **Filtering:** By default, subscriptions receive all event types for all
        access records registered under the authenticated Data User. Supply
        `event-types` to restrict to a specific subset.

        **Idempotency:** Registering a second subscription with the same
        `callback-url` returns `409 Conflict`. Update an existing subscription
        using `PATCH /webhooks/{wid}`.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRegistrationRequest"
            example:
              callback-url: "https://app.bright-energy.com/webhooks/dar"
              alert-email: "platform-ops@bright-energy.com"
              notify-days-before: 30
              event-types:
                - consent.expiring
                - tenancy.change
      responses:
        "201":
          description: Webhook subscription created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterWebhookResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "409":
          description: >
            A subscription with the supplied `callback-url` already exists for
            this Data User. Use `PATCH /webhooks/{wid}` to update it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /webhooks/{wid}:
    patch:
      operationId: updateWebhook
      summary: Update a Webhook Subscription
      description: |
        Updates an existing webhook subscription. Only fields supplied in the
        request body are modified; omitted fields retain their current values.

        To rotate the signing secret, supply `"rotate-secret": true`. A new
        `signing-secret` is returned in the response. The old secret remains
        valid for 15 minutes to allow in-flight deliveries to complete.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: wid
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/WebhookId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdateRequest"
      responses:
        "200":
          description: Webhook subscription updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterWebhookResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      operationId: deleteWebhook
      summary: Delete a Webhook Subscription
      description: |
        Permanently removes a webhook subscription. In-flight deliveries
        already queued at the time of deletion will still be attempted.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: wid
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/WebhookId"
      responses:
        "204":
          description: Webhook subscription deleted. No response body.
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Base64-encode `account_id:secret_key`. Used only on `GET /auth/token`.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JWT from `GET /auth/token`. Pass as `Authorization: Bearer <token>`. Expires after 7200s."

  responses:
    BadRequest:
      description: The request was malformed or failed validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorised:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authenticated caller lacks permission for this action.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      description: An unexpected server-side error occurred.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    # -------------------------------------------------------------------------
    # Primitive / shared types
    # -------------------------------------------------------------------------

    MPxN:
      type: string
      pattern: "^(?:[0-9A-HJ-NPR-Z]{2}[0-9]{8,10}|[0-9]{10})$"
      description: Meter Point Administration Number (MPAN) or Meter Point Reference Number (MPRN).
      example: "1234567890123"

    AccessKey:
      type: string
      pattern: "^ak_[0-9a-f]{24}$"
      description: >
        Unique opaque identifier for an access record, issued by the register on
        creation. Treat as a secret — possession enables access verification.
      example: "ak_691df0c788ca043403b7fa90"

    IdentityRecordKey:
      type: string
      pattern: "^ir_[0-9a-f]{24}$"
      description: >
        Unique opaque identifier for an Identity Record, issued by the register on
        creation. Referenced from `record-metadata.identity-record-ref` on an
        AccessRecord to link the two resources.
      example: "ir_a3c5e7f9b1d3a3c5e7f9b1d3"

    DataType:
      type: array
      minItems: 1
      description: One or more energy data categories covered by this access record.
      items:
        type: string
        enum:
          - HH-CONSUMPTION
          - HH-EXPORT
          - MTH-CONSUMPTION
          - MTH-EXPORT
          - ANNUAL-CONSUMPTION
          - ANNUAL-EXPORT
          - TARIFF-IMPORT
          - TARIFF-EXPORT

    AccessState:
      type: string
      description: |
        Lifecycle state of the access record.

        - `ACTIVE` — access is registered and in force.
        - `EXPIRED` — the record's `expiry` has passed.
        - `REVOKED` — the Controller has removed their registration, or the customer
          has withdrawn consent. Retained for audit with `access-event.revoked-at` set.
        - `DISCOVERED` — a sparse record created by the DCC from historic meter
          transaction logs. The organisation has not yet registered as a Data User.
          Visible to customers for transparency but cannot authorise data release.
          Transitions to superseded when the organisation registers a full record.
      enum:
        - ACTIVE
        - EXPIRED
        - REVOKED
        - DISCOVERED

    LegalBasis:
      type: string
      description: |
        The legal basis under which the Controller accesses customer data.

        **Consent bases** — `notice` and `access-event.consent` must be populated.

        | Value | Plain name | Article |
        |---|---|---|
        | `uk-consent` | UK Consent | UK GDPR Art. 6(1)(a) |
        | `uk-explicit-consent` | UK Explicit Consent | UK GDPR Art. 9(2)(a) |

        **Non-consent bases** — `notice` and `access-event.consent` must be null.

        | Value | Plain name | Article | Supporting field |
        |---|---|---|---|
        | `uk-legitimate-interests` | UK Legitimate Interests | UK GDPR Art. 6(1)(f) | `processing.lia-reference` |
        | `uk-public-task` | UK Public Task | UK GDPR Art. 6(1)(e) | `processing.statutory-reference` |
        | `uk-legal-obligation` | UK Legal Obligation | UK GDPR Art. 6(1)(c) | `processing.statutory-reference` |
        | `uk-contract` | UK Contract | UK GDPR Art. 6(1)(b) | — |
      enum:
        - uk-consent
        - uk-explicit-consent
        - uk-legitimate-interests
        - uk-public-task
        - uk-legal-obligation
        - uk-contract
      example: "uk-consent"

    ConsentType:
      type: string
      description: |
        Legal type of consent expressed. Only applicable when `legal-basis` is a
        consent value.

        - `expressed-consent` — actively and unambiguously expressed (e.g. checkbox).
          Sufficient for standard personal data under Art. 6(1)(a).
        - `explicit-consent` — explicit and specific. Required for special category
          data under Art. 9(2)(a), or where the Controller's process mandates it.
      enum:
        - expressed-consent
        - explicit-consent

    ExpressionByEntity:
      type: string
      description: |
        Who expressed consent. Only applicable when `legal-basis` is a consent value.

        - `data-subject` — the customer themselves.
        - `authorised-representative` — a third party acting on the customer's behalf
          (e.g. a landlord or property manager acting for a tenant).
      enum:
        - data-subject
        - authorised-representative

    UKAddress:
      type: object
      properties:
        addressLine1:
          type: string
          maxLength: 100
          example: "221B Baker Street"
        addressLine2:
          type: string
          maxLength: 100
          nullable: true
          example: "Marylebone"
        townCity:
          type: string
          maxLength: 100
          example: "London"
        county:
          type: string
          maxLength: 100
          nullable: true
          example: "Greater London"
        postcode:
          type: string
          pattern: "^[A-Z]{1,2}[0-9][0-9A-Z]? ?[0-9][A-Z]{2}$"
          example: "NW1 6XE"
      required:
        - addressLine1
        - townCity
        - postcode

    # -------------------------------------------------------------------------
    # ISO 27560 Section 1: Record Metadata
    # -------------------------------------------------------------------------

    Controller:
      type: object
      description: >
        The Data Controller — the B2B customer of the Data User (Processor). Supplied
        inline on registration. Bears GDPR accountability for the legal basis claimed
        and its ongoing validity.
      properties:
        name:
          type: string
          maxLength: 255
          description: Trading name of the Controller organisation.
          example: "Bright Energy Ltd"
        contact-url:
          type: string
          format: uri
          description: URL of the Controller's customer-facing contact or privacy page.
          example: "https://bright-energy.com/contact"
        address:
          $ref: "#/components/schemas/UKAddress"
      required:
        - name
        - contact-url

    PIIPrincipal:
      type: object
      description: >
        Identifies the customer and their property. MPxN is the primary identifier;
        personal name and email are excluded to minimise PII held centrally.
      properties:
        mpxn:
          $ref: "#/components/schemas/MPxN"
        move-in-date:
          type: string
          format: date
          description: >
            Date the customer began occupying the property. Establishes the earliest
            point from which data access applies (inclusive).
          example: "2022-06-30"
        address:
          $ref: "#/components/schemas/UKAddress"
      required:
        - mpxn
        - move-in-date

    # -------------------------------------------------------------------------
    # Identity Records — person-property relationship and re-identification
    # -------------------------------------------------------------------------

    CredentialId:
      type: string
      pattern: "^cred_[0-9a-f]{24}$"
      description: Unique identifier for a registered passkey credential.
      example: "cred_1a2b3c4d5e6f1a2b3c4d5e6f"

    PasskeyCredentialSummary:
      type: object
      description: >
        Metadata for a registered passkey credential. Public key material is
        never returned — only the credential ID and registration timestamp.
      properties:
        credential-id:
          $ref: "#/components/schemas/CredentialId"
        registered-at:
          type: string
          format: date-time
          description: UTC timestamp when this credential was registered.
          example: "2024-01-15T09:35:00Z"
        transports:
          type: array
          description: >
            Authenticator transport hints as reported by the browser at registration
            (e.g. "internal", "hybrid", "usb"). Informational only.
          items:
            type: string
          example:
            - internal
      required:
        - credential-id
        - registered-at

    ReIdentifyMethod:
      type: string
      description: |
        The re-identification method to use or the step in a multi-step flow.

        **Single-step:**
        - `magic-link` — dispatch a signed link to the stored email address.
          Poll `GET /identity-records/{ir}/re-identify/{token-ref}` for completion.

        **Two-step passkey assertion (existing credential):**
        - `passkey-assert` — initiate: returns a WebAuthn assertion challenge.
          Pass to `navigator.credentials.get()`.
        - `passkey-assert-complete` — complete: submit the signed assertion
          response. Returns `verified: true` on success.

        **Two-step passkey registration (new device):**
        - `passkey-register` — initiate: returns a WebAuthn registration challenge.
          Pass to `navigator.credentials.create()`, then submit to
          `POST /identity-records/{ir}/credentials` to store the public key.
          Re-identification is confirmed on successful credential registration.
      enum:
        - magic-link
        - passkey-assert
        - passkey-assert-complete
        - passkey-register

    ReIdentifyRequest:
      type: object
      description: >
        Request body for `POST /identity-records/{ir}/re-identify`.
      properties:
        method:
          $ref: "#/components/schemas/ReIdentifyMethod"
        assertion-response:
          type: object
          nullable: true
          description: >
            Required when `method` is `passkey-assert-complete`. The serialised
            `AuthenticatorAssertionResponse` from `navigator.credentials.get()`.
          properties:
            credential-id:
              type: string
              description: Base64url-encoded credential ID from the browser response.
              example: "AQIDBAUGBwgJCgsMDQ4PEA"
            client-data-json:
              type: string
              description: Base64url-encoded `clientDataJSON` from the authenticator response.
              example: "eyJ0eXBlIjoid2ViYXV0aG4uZ2V0IiwiY2hhbGxlbmdlIjoiWTJoaGJHeGxibWRsWDJWNFlXMXdiR1ZmWW1GelpUWTBkWEpzIn0"
            authenticator-data:
              type: string
              description: Base64url-encoded `authenticatorData` from the authenticator response.
              example: "SZYN5YgOjGh0NBcPZHZgW4_krrmihjLHmVzzuoMdl2MFAAAAAA"
            signature:
              type: string
              description: Base64url-encoded `signature` from the authenticator response.
              example: "MEUCIQDKypPONFnLSLpRJ_..."
          required:
            - credential-id
            - client-data-json
            - authenticator-data
            - signature
      required:
        - method

    PasskeyOptions:
      type: object
      description: >
        WebAuthn options to pass to `navigator.credentials.create()` (registration)
        or `navigator.credentials.get()` (assertion). Present when the method
        initiates a passkey ceremony; null otherwise.
      properties:
        challenge:
          type: string
          description: Base64url-encoded WebAuthn challenge. Single-use; expires after 5 minutes.
          example: "Y2hhbGxlbmdlX2V4YW1wbGVfYmFzZTY0dXJs"
        rp-id:
          type: string
          description: Relying Party identifier.
          example: "central.consent"
        timeout:
          type: integer
          description: Suggested client-side timeout in milliseconds.
          example: 60000
        rp-name:
          type: string
          description: Human-readable Relying Party name. Present for registration challenges only.
          example: "Data Access Register"
          nullable: true
        user-id:
          type: string
          description: >
            Base64url-encoded opaque user handle for WebAuthn registration. Present
            for registration challenges only. Not a PII identifier.
          example: "aXJfYTNjNWU3ZjliMWQz"
          nullable: true
        user-name:
          type: string
          description: >
            Display name shown by the authenticator during registration. Typically
            the customer's email address. Present for registration challenges only.
          example: "customer@example.com"
          nullable: true
        allowed-credentials:
          type: array
          description: >
            Credential IDs the authenticator may use for assertion. Present for
            assertion challenges only. Null for registration challenges.
          nullable: true
          items:
            $ref: "#/components/schemas/CredentialId"
          example:
            - cred_1a2b3c4d5e6f1a2b3c4d5e6f
      required:
        - challenge
        - rp-id
        - timeout

    MagicLinkDetails:
      type: object
      description: >
        Present when a magic-link re-identification was initiated. Null for passkey methods.
      properties:
        dispatched-to:
          type: string
          description: >
            Redacted representation of the email address the link was dispatched to
            (e.g. "c*****r@example.com"). The full address is never echoed back.
          example: "c*****r@example.com"
        expires-at:
          type: string
          format: date-time
          description: UTC timestamp when the magic link expires (15 minutes from dispatch).
          example: "2026-03-24T09:15:00Z"
        token-ref:
          type: string
          pattern: "^mlr_[0-9a-f]{24}$"
          description: >
            Opaque reference used to poll `GET /identity-records/{ir}/re-identify/{token-ref}`
            for confirmation of link redemption.
          example: "mlr_9f8e7d6c5b4a9f8e7d6c5b4a"
      required:
        - dispatched-to
        - expires-at
        - token-ref

    ReIdentifyResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        method:
          $ref: "#/components/schemas/ReIdentifyMethod"
        verified:
          type: boolean
          description: >
            `true` when re-identification is confirmed in this response (i.e.
            `passkey-assert-complete` succeeded). `false` for all initiation steps
            where confirmation is pending.
          example: false
        magic-link:
          nullable: true
          description: Populated for `magic-link` method; null otherwise.
          allOf:
            - $ref: "#/components/schemas/MagicLinkDetails"
        passkey:
          nullable: true
          description: >
            Populated for `passkey-assert` and `passkey-register` initiation steps;
            null for `magic-link` and `passkey-assert-complete`.
          allOf:
            - $ref: "#/components/schemas/PasskeyOptions"
      required:
        - response
        - method
        - verified

    ReIdentifyStatusResponse:
      type: object
      description: Status of a pending magic-link re-identification flow.
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        status:
          type: string
          description: |
            - `pending` — link dispatched, awaiting customer redemption.
            - `confirmed` — customer redeemed the link; re-identification complete.
            - `expired` — 15-minute window elapsed without redemption.
          enum:
            - pending
            - confirmed
            - expired
        confirmed-at:
          type: string
          format: date-time
          nullable: true
          description: UTC timestamp of redemption. Null until `status` is `confirmed`.
          example: "2026-03-24T09:07:28Z"
      required:
        - response
        - status
        - confirmed-at

    CreateIdentityRecordRequest:
      type: object
      description: >
        Request body for `POST /identity-records`. Extends the core `IdentityRecord`
        fields with `email` and `initiate-passkey-registration`.
      properties:
        pii-principal:
          $ref: "#/components/schemas/PIIPrincipal"
        expressed-by:
          $ref: "#/components/schemas/ExpressionByEntity"
          description: >
            Who expressed consent or initiated the access registration — the data
            subject themselves, or an authorised representative.
        principal-verification:
          nullable: true
          description: >
            How the Controller verified the identity of the principal. Strongly
            recommended. Null if no structured verification was performed.
          allOf:
            - $ref: "#/components/schemas/PrincipalVerification"
        email:
          type: string
          format: email
          nullable: true
          description: >
            Customer email address. Stored as a one-way hash — never returned in
            plaintext in any response. Required if magic-link re-identification is
            to be used. Also enables email-based lookup via
            `GET /identity-records?email=...`.
          example: "customer@example.com"
        initiate-passkey-registration:
          type: boolean
          default: false
          description: >
            If `true`, the register generates a WebAuthn registration challenge and
            returns it in `passkey-registration-options`. The Data User must pass
            these options to `navigator.credentials.create()` and submit the
            resulting credential to `POST /identity-records/{ir}/credentials` to
            complete registration.
      required:
        - pii-principal
        - expressed-by

    CreateIdentityRecordResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        ir:
          $ref: "#/components/schemas/IdentityRecordKey"
        passkey-registration-options:
          nullable: true
          description: >
            Populated when `initiate-passkey-registration` was `true`. Pass to
            `navigator.credentials.create()` in the browser, then submit the result
            to `POST /identity-records/{ir}/credentials`. Null otherwise.
          allOf:
            - $ref: "#/components/schemas/PasskeyOptions"
      required:
        - response
        - ir

    IdentityRecord:
      type: object
      description: |
        Holds the person-property relationship for a consent or access registration.
        Returned by `GET /identity-records/{ir}`.

        The `email` field is never returned in plaintext — `has-email` indicates
        whether an email address is stored. Passkey public keys are never returned —
        `credentials` contains only metadata (ID, registered-at, transports).

        `ir` and `created-at` are assigned by the register on creation.
      properties:
        ir:
          readOnly: true
          $ref: "#/components/schemas/IdentityRecordKey"
        created-at:
          type: string
          format: date-time
          readOnly: true
          description: UTC timestamp when this record was created in the register.
          example: "2024-01-15T09:30:00Z"
        pii-principal:
          nullable: true
          description: Null if the record has been anonymised.
          allOf:
            - $ref: "#/components/schemas/PIIPrincipal"
        expressed-by:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/ExpressionByEntity"
        principal-verification:
          nullable: true
          allOf:
            - $ref: "#/components/schemas/PrincipalVerification"
        has-email:
          type: boolean
          readOnly: true
          description: >
            `true` if an email address is stored on this record (enabling magic-link
            re-identification). The address itself is never returned.
          example: true
        credentials:
          type: array
          readOnly: true
          description: >
            Metadata for registered passkey credentials. Public key material is
            never returned. Empty if no passkeys are registered.
          items:
            $ref: "#/components/schemas/PasskeyCredentialSummary"
        anonymised-at:
          type: string
          format: date-time
          nullable: true
          readOnly: true
          description: >
            UTC timestamp of anonymisation, if the record has been anonymised via
            `DELETE /identity-records/{ir}`. Null otherwise.
          example: null
      required:
        - ir
        - created-at
        - has-email
        - credentials

    AnonymiseIdentityRecordResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        ir:
          $ref: "#/components/schemas/IdentityRecordKey"
        anonymised-at:
          type: string
          format: date-time
          description: UTC timestamp of anonymisation.
          example: "2026-03-24T10:00:00Z"
      required:
        - response
        - ir
        - anonymised-at

    LookupIdentityRecordsResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        identity-records:
          type: array
          items:
            $ref: "#/components/schemas/IdentityRecord"
      required:
        - response
        - identity-records

    GetIdentityRecordResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        identity-record:
          $ref: "#/components/schemas/IdentityRecord"
      required:
        - response
        - identity-record

    RegisterCredentialRequest:
      type: object
      description: >
        Serialised `AuthenticatorAttestationResponse` from `navigator.credentials.create()`.
        Submit to `POST /identity-records/{ir}/credentials` to complete a passkey
        registration ceremony.
      properties:
        client-data-json:
          type: string
          description: Base64url-encoded `clientDataJSON` from the attestation response.
          example: "eyJ0eXBlIjoid2ViYXV0aG4uY3JlYXRlIiwiY2hhbGxlbmdlIjoiWTJoaGJHeGxibWRsWDJWNFlXMXdiR1ZmWW1GelpUWTBkWEpzIiwib3JpZ2luIjoiaHR0cHM6Ly9jZW50cmFsLmNvbnNlbnQifQ"
        attestation-object:
          type: string
          description: Base64url-encoded `attestationObject` from the attestation response.
          example: "o2NmbXRkbm9uZWdhdHRTdG10oGhhdXRoRGF0YVik..."
        transports:
          type: array
          description: >
            Authenticator transport hints reported by the browser. Stored as metadata;
            used to populate `allowed-credentials` in future assertion challenges.
          items:
            type: string
          example:
            - internal
      required:
        - client-data-json
        - attestation-object

    RegisterCredentialResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        credential-id:
          $ref: "#/components/schemas/CredentialId"
        registered-at:
          type: string
          format: date-time
          description: UTC timestamp when the credential was stored.
          example: "2024-01-15T09:35:00Z"
      required:
        - response
        - credential-id
        - registered-at

    RecordMetadata:
      type: object
      description: |
        **ISO 27560 Section 1 — Record Metadata**

        `record-identifier` and `created-at` are assigned by the register on creation
        and returned in responses; they must not be supplied in request bodies.

        `identity-record-ref` links this access record to the Identity Record that
        holds the person-property relationship (PII principal, move-in date, address,
        and identity verification evidence). Supply the `ir` key returned when the
        Identity Record was created. The linked Identity Record must have been
        registered by the same authenticated Data User.
      properties:
        schema-version:
          type: string
          description: Version of the schema profile this record conforms to.
          example: "1.0"
        record-identifier:
          readOnly: true
          $ref: "#/components/schemas/AccessKey"
        created-at:
          type: string
          format: date-time
          readOnly: true
          description: >
            UTC timestamp when this record was created in the register. May differ
            from `access-event.registered-at` for historic registrations.
          example: "2024-01-15T09:30:00Z"
        controller:
          $ref: "#/components/schemas/Controller"
        identity-record-ref:
          $ref: "#/components/schemas/IdentityRecordKey"
          description: >
            Reference to the Identity Record holding the person-property relationship
            for this access registration. The `ir` key is issued when the Identity
            Record is created via `POST /identity-records`.
      required:
        - schema-version
        - controller
        - identity-record-ref

    # -------------------------------------------------------------------------
    # ISO 27560 Section 2: Notice Fields
    # Present for consent records; null for non-consent records.
    # -------------------------------------------------------------------------

    NoticeFields:
      type: object
      description: |
        **ISO 27560 Section 2 — Notice Fields**

        Records the privacy notice presented to the customer at the point of consent.
[...]
