openapi: 3.1.0
info:
  title: Data Access Register
  description: |
    Core APIs for the Central Data Access Register.

    The register records all lawful access to customer energy data by Controllers,
    regardless of the legal basis on which that access rests. It is not exclusively
    a consent register — legitimate interests, public task, legal obligation, and
    contract are all within scope alongside consent-based access.

    **Jurisdiction:** This is a UK-only solution. All Controllers, customers, and
    meter points are within Great Britain. The governing data protection framework
    is **UK GDPR** and the **Data Protection Act 2018**. EU GDPR does not apply.
    The jurisdiction field is fixed to `GB` and does not need to be supplied.

    ## Purpose

    The register provides a single, auditable source of truth for:

    - **Controllers** — to record and demonstrate the legal basis under which they
      access customer meter data.
    - **Data Providers** — to verify that a Controller has a registered, active access
      record before releasing data.
    - **Customers** — to view all parties registered as having lawful access to their
      meter point, on request via any Controller.

    ## Party Model

    | Party | UK GDPR Role | Description |
    |---|---|---|
    | **Data User** | Processor | Operates the register. Fetches and processes meter data on behalf of Controllers. Authenticated via bearer token. |
    | **Controller** | Data Controller | A B2B customer of the Data User. Supplied inline on registration. Bears GDPR accountability for the legal basis and its ongoing validity. |
    | **Customer** | Data Subject | The energy customer. Identified by MPxN to minimise PII held centrally. |
    | **Data Provider** | Data Source | Holds meter data. Verifies access records before releasing data via `GET /access-records/{ak}`. |

    ## Record Structure

    All access records share a single schema — `AccessRecord` — with four sections
    aligned to ISO/IEC TS 27560:2023:

    1. **`record-metadata`** — record identifier, creation timestamp, Controller
       identity, PII Principal identity. Present for all records.
    2. **`notice`** — the privacy notice presented to the customer. Present only for
       consent-based records; null for all other legal bases.
    3. **`processing`** — legal basis, purpose, data types, and related obligations.
       Present for all records.
    4. **`access-event`** — when and how access was registered or consent was obtained;
       current lifecycle state. Present for all records.

    The `notice` and `access-event.consent` sub-object are null for non-consent records.
    The `access-event.consent` sub-object is null for non-consent records and populated
    for consent records.

    ## Legal Basis and Required Fields

    The `processing.legal-basis` value determines which fields within `notice` and
    `access-event.consent` are expected:

    | Legal basis | `notice` | `access-event.consent` |
    |---|---|---|
    | `uk-consent`, `uk-explicit-consent` | **Required** | **Required** |
    | All other bases | Must be null | Must be null |

    For legitimate interests records, `processing.lia-reference` should be supplied.
    For public task or legal obligation records, `processing.statutory-reference`
    should be supplied.

    ## Access Record Lifecycle

    Records are never hard-deleted. All state transitions are recorded with timestamps.

    ```
    [ACTIVE] ──revoke──▶ [REVOKED]
    [ACTIVE] ──expiry──▶ [EXPIRED]
    [DISCOVERED] ──claimed──▶ [ACTIVE]
    [DISCOVERED] ──expiry──▶ [EXPIRED]
    ```

    `REVOKED` represents consent withdrawal (consent records) or the Controller
    removing their registration (non-consent records). Data Providers must deny
    access for any record not in `ACTIVE` state with a future (or null) expiry.

    `DISCOVERED` is a sparse, read-only state created by the DCC when it detects
    historic meter data requests from an organisation that has not yet registered
    as a Data User. These records are visible to Customers for transparency but
    cannot be used to authorise data release. When the organisation onboards as
    a Data User and registers a full access record for the same MPxN, the
    DISCOVERED record is superseded and transitions to `ACTIVE`.

    ## Authentication

    All endpoints except `GET /access-records/{ak}` require a bearer token from
    `GET /auth/token`. Tokens expire after 7200 seconds.

    ## Versioning

    URI-based versioning. Current version: `v1`.

  version: "0.0.10"
  contact:
    name: Auth Energy
    email: contact@auth.energy
    url: https://docs.auth.energy/consent
  license:
    name: Proprietary

servers:
  - url: "https://api.central.consent/v1"
    description: Production

tags:
  - name: Authentication
    description: Obtain bearer tokens for authenticated endpoints.
  - name: Data Users
    description: >
      Endpoints for Data Users (Processors) to register and manage access records
      on behalf of their Controller customers.
  - name: Data Providers
    description: >
      Endpoints for Data Providers (EDPs) to verify access records and look up
      registered Data User organisations before releasing meter data. Includes
      access record verification via access key and Data User directory lookup
      by DUID, allowing EDPs to confirm both that a specific record is active
      and that the organisation behind it is in good standing.
  - name: DCC
    description: >
      Endpoints for the Smart DCC to submit discovered access records based on
      historic meter transaction logs. Discovered records are sparse and
      read-only — they surface to customers for transparency but cannot
      authorise data release. They are superseded when the organisation
      registers as a full Data User.
  - name: Customer Portal
    description: >
      Endpoints supporting the centralised Customer Consent Portal. Data Users
      call these endpoints to create short-lived redirect tokens that allow
      authenticated customers to be sent to the portal in a new browser window.
      The portal itself uses privileged server-side credentials to read and
      revoke access records on the customer's behalf. The portal cannot be
      embedded in an iframe.
  - name: Webhooks
    description: >
      Endpoints for Controllers to register and manage webhook subscriptions.
      The register dispatches event payloads to registered callback URLs when
      consent records are approaching expiry or when a Change of Tenancy is
      recorded against an MPxN with active access records.

paths:
  /auth/token:
    get:
      operationId: getAuthToken
      summary: Obtain Bearer Token
      description: |
        Exchange Basic Auth credentials for a short-lived JWT bearer token.
        Cache and reuse until expiry. Credentials Base64-encoded as `account_id:secret_key`.
      tags:
        - Authentication
      security:
        - basicAuth: []
      responses:
        "200":
          description: Token issued successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthToken"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /access-records:
    post:
      operationId: registerAccess
      summary: Register or Update an Access Record
      description: |
        Register a new access record on behalf of a Controller, or update an existing
        one by supplying the `ak` query parameter.

        All records use the same `AccessRecord` schema. The `processing.legal-basis`
        value determines which additional fields are expected:

        - **Consent bases** — populate `notice` and `access-event.consent`.
        - **Legitimate interests** — populate `processing.lia-reference`; set `notice`
          and `access-event.consent` to null.
        - **Public task / legal obligation** — populate `processing.statutory-reference`;
          set `notice` and `access-event.consent` to null.
        - **Contract** — set `notice` and `access-event.consent` to null.

        Historic records may be submitted — `access-event.registered-at` may predate
        `record-metadata.created-at`.

        If the DCC has previously submitted a `DISCOVERED` record for the same MPxN
        and organisation, the register will link the two records on creation. The
        DISCOVERED record is retained for audit; the new full record becomes `ACTIVE`.
      tags:
        - Data Users
      security:
        - bearerAuth: []
      parameters:
        - name: ak
          in: query
          description: >
            Supply to update an existing access record. The record identified by this
            key will be replaced with the submitted payload.
          required: false
          schema:
            $ref: "#/components/schemas/AccessKey"
      requestBody:
        description: An AccessRecord. All legal bases use this same schema.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessRecord"
            examples:
              consent:
                summary: Consent-based access
                value:
                  record-metadata:
                    schema-version: "1.0"
                    controller:
                      name: "Bright Energy Ltd"
                      contact-url: "https://bright-energy.com/contact"
                      address:
                        addressLine1: "10 Canary Wharf"
                        townCity: "London"
                        postcode: "E14 5AB"
                    pii-principal:
                      mpxn: "1234567890123"
                      move-in-date: "2022-06-30"
                      address:
                        addressLine1: "221B Baker Street"
                        townCity: "London"
                        postcode: "NW1 6XE"
                  notice:
                    terms-url: "https://bright-energy.com/privacy-v3.html"
                    notice-version: "v3.2"
                    notice-language: "en"
                  processing:
                    legal-basis: "uk-consent"
                    purpose: "Energy efficiency analysis and tariff recommendations"
                    data-types:
                      - HH-CONSUMPTION
                      - HH-EXPORT
                    privacy-rights-url: "https://bright-energy.com/your-rights"
                  access-event:
                    state: ACTIVE
                    registered-at: "2023-11-07T05:31:56Z"
                    expiry: "2027-11-10T17:07:01.580Z"
                    controller-reference: "REF-00123"
                    consent:
                      consent-type: expressed-consent
                      method: "Explicit web checkbox"
                      expressed-by: data-subject
                      principal-verification:
                        method: "credit-card"
                        verified-at: "2023-11-07T05:30:45Z"
                        outcome: verified
                        reference: "ch_3ABC123xyz"
                        submitted: "XXXX-XXXX-XXXX-4242"
                        verified-against: "Stripe customer record cus_ABC123"
                        detail:
                          last4: "4242"
                          brand: "visa"
                          stripe_customer: "cus_ABC123"
              legitimate-interests:
                summary: Legitimate interests access
                value:
                  record-metadata:
                    schema-version: "1.0"
                    controller:
                      name: "Grid Analytics Ltd"
                      contact-url: "https://gridanalytics.com/contact"
                      address:
                        addressLine1: "5 Tech Park"
                        townCity: "Manchester"
                        postcode: "M1 2AB"
                    pii-principal:
                      mpxn: "1234567890123"
                      move-in-date: "2020-01-01"
                  notice: null
                  processing:
                    legal-basis: "uk-legitimate-interests"
                    purpose: "Network load balancing and demand forecasting"
                    data-types:
                      - HH-CONSUMPTION
                    privacy-rights-url: "https://gridanalytics.com/your-rights"
                    lia-reference: "LIA-2024-003"
                  access-event:
                    state: ACTIVE
                    registered-at: "2024-03-01T09:00:00Z"
                    expiry: "2026-03-01T00:00:00Z"
                    controller-reference: "CONTRACT-9981"
                    consent: null
              public-task:
                summary: Public task access (regulated/statutory body)
                value:
                  record-metadata:
                    schema-version: "1.0"
                    controller:
                      name: "Northern Networks plc"
                      contact-url: "https://northernnetworks.co.uk/contact"
                      address:
                        addressLine1: "1 Grid House"
                        townCity: "Leeds"
                        postcode: "LS1 1AA"
                    pii-principal:
                      mpxn: "1234567890123"
                      move-in-date: "2019-06-01"
                  notice: null
                  processing:
                    legal-basis: "uk-public-task"
                    purpose: "Statutory network safety and capacity monitoring"
                    data-types:
                      - HH-CONSUMPTION
                      - HH-EXPORT
                    privacy-rights-url: "https://northernnetworks.co.uk/your-rights"
                    statutory-reference: "Energy Act 2023, s.147"
                  access-event:
                    state: ACTIVE
                    registered-at: "2024-01-15T00:00:00Z"
                    expiry: null
                    controller-reference: "OFGEM-AUTH-2024-0042"
                    consent: null
      responses:
        "201":
          description: New access record created successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterAccessResponse"
        "200":
          description: Existing access record updated successfully (when ak supplied).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterAccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /access-records/{ak}:
    get:
      operationId: verifyAccess
      summary: Verify Access Record
      description: |
        Returns the full access record for a given access key. Called by Data Providers
        before releasing meter data.

        **Authentication:** Unauthenticated by design. The access key acts as the
        credential; treat it as a secret.

        **Verification checklist (all record types):**
        1. `access-event.state` must be `ACTIVE`.
        2. `access-event.expiry` must be in the future, or null.
        3. `record-metadata.controller` identity must match the organisation you have
           a verified commercial relationship with on your platform.
        4. The data types being requested must be within `processing.data-types`.
        5. Log `response.transaction-id` for your audit trail.

        **Additional checks by legal basis:**
        - Consent records: confirm `access-event.consent.consent-type` is appropriate
          for the data category being released.
        - Legitimate interests: confirm `processing.lia-reference` is present.
        - Public task / legal obligation: confirm `processing.statutory-reference`
          is present.
      tags:
        - Data Providers
      parameters:
        - name: ak
          in: path
          description: The access key issued at registration.
          required: true
          schema:
            $ref: "#/components/schemas/AccessKey"
      responses:
        "200":
          description: Access record found and returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyAccessResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      operationId: revokeAccess
      summary: Revoke Access Record
      description: |
        Revokes an access record. Transitions the record to `REVOKED` state with a
        `revoked-at` timestamp. Records are retained for audit — not deleted.

        For consent records this represents customer withdrawal of consent.
        For non-consent records this represents the Controller removing their
        access registration (e.g. LIA no longer applicable, contract ended,
        statutory authority lapsed).

        After revocation `GET /access-records/{ak}` returns the record in `REVOKED`
        state. Data Providers must deny access for any non-`ACTIVE` record.
      tags:
        - Data Users
      security:
        - bearerAuth: []
      parameters:
        - name: ak
          in: path
          description: The access key to revoke.
          required: true
          schema:
            $ref: "#/components/schemas/AccessKey"
      responses:
        "200":
          description: Access record revoked. Record retained in REVOKED state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeAccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /meter-points/{mpxn}/access-records:
    get:
      operationId: listAccessRecords
      summary: List Access Records for a Meter Point
      description: |
        Returns access records associated with a given MPxN, registered by the
        authenticated Data User. Covers all legal bases and all lifecycle states
        unless filtered. Supports customer transparency — customers may request
        this list via any Controller to see who holds registered access to their
        meter point data.

        `DISCOVERED` records submitted by the DCC are also returned in this
        response, allowing customers to see organisations known to have accessed
        their meter data historically that have not yet registered as Data Users.
        DISCOVERED records are clearly distinguished by their `state` field and
        contain only the sparse `discovered-access` object rather than a full
        access record.
      tags:
        - Data Users
      security:
        - bearerAuth: []
      parameters:
        - name: mpxn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/MPxN"
        - name: state
          in: query
          description: Filter by record lifecycle state. Omit to return all states.
          required: false
          schema:
            $ref: "#/components/schemas/AccessState"
        - name: legal-basis
          in: query
          description: Filter by legal basis. Omit to return all bases.
          required: false
          schema:
            $ref: "#/components/schemas/LegalBasis"
      responses:
        "200":
          description: Access record list returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccessRecordsResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # Customer Portal: session token issuance
  # ---------------------------------------------------------------------------

  /customer-sessions:
    post:
      operationId: createCustomerSession
      summary: Create a Customer Portal Session
      description: |
        Issues a short-lived, single-use redirect token allowing a Data User to
        open the centralised Customer Consent Portal for an authenticated customer.

        The redirect token is URL-safe, expires in 60 seconds, and is single-use
        — it exists solely to survive the browser redirect. On redemption, the
        portal issues its own server-side session (stored as an `httpOnly` cookie
        on the portal domain) with a TTL of up to 8 hours, renewable on activity.
        The Data User never has access to the portal session.

        **Portal access controls:**

        The portal enforces the following independently of this endpoint:

        - `X-Frame-Options: DENY` and `Content-Security-Policy: frame-ancestors 'none'`
          are set on all portal responses. The portal cannot be embedded in an
          iframe by any origin, including the Data User's own application.
        - The portal session cookie is `httpOnly`, `Secure`, and `SameSite=Strict`.
          It is not accessible to JavaScript and cannot be read or used by the
          Data User application.
        - The portal session is bound to the MPxN resolved at token redemption.
          A customer cannot navigate to another customer's records within the
          same portal session.
        - The `return-url` is validated against the Data User's pre-registered
          callback URLs. Unregistered URLs are rejected with `400`.

        **`purpose` field:**

        The `purpose` field declares the intended use of the session and is
        recorded for audit. The portal enforces it:

        - `view` — the customer can browse records but withdrawal controls are
          not shown.
        - `manage` — the customer can browse records and withdraw consent for
          active consent-based records.

        A Data User declaring `view` cannot cause the portal to expose withdrawal
        controls, regardless of what the customer does in the browser.
      tags:
        - Customer Portal
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateCustomerSessionRequest"
            example:
              mpxn: "1234567890123"
              return-url: "https://app.bright-energy.com/dashboard"
              purpose: manage
      responses:
        "201":
          description: Redirect token issued. Open `portal-url` in a new browser window.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateCustomerSessionResponse"
              example:
                response:
                  resource: /v1/customer-sessions
                  timestamp: "2026-03-19T10:00:00Z"
                  transaction-id: tid_abc123def456abc123def456
                session-token: cst_a1b2c3d4e5f6a1b2c3d4e5f6
                expires-in: 60
                portal-url: "https://portal.central.consent/consents?token=cst_a1b2c3d4e5f6a1b2c3d4e5f6"
        "400":
          description: >
            `return-url` is not registered for this Data User, or request
            body is malformed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # DCC: Discovered access records
  # ---------------------------------------------------------------------------

  /discovered-access:
    post:
      operationId: submitDiscoveredAccess
      summary: Submit a Discovered Access Record
      description: |
        Submits a sparse, system-generated access record derived from DCC
        historic meter transaction logs. Used when the DCC detects that an
        organisation has been making data requests against a meter point but has
        not yet registered as a Data User in the DAR.

        Discovered records are distinct from full access records in two important
        ways:

        1. **Read-only for authorisation** — a `DISCOVERED` record cannot be
           used by a Data Provider to authorise data release. `GET /access-records/{ak}`
           will return the record but with `access-event.state` set to `DISCOVERED`;
           Data Providers must treat this as a denial.

        2. **Consumer transparency** — `DISCOVERED` records appear in
           `GET /meter-points/{mpxn}/access-records` responses so customers can
           see all parties known to have accessed their data, regardless of whether
           those parties have formalised their registration.

        When the organisation subsequently onboards as a Data User and submits a
        full access record via `POST /access-records` for the same MPxN and
        organisation, the register links the two records. The DISCOVERED record
        is retained for audit; the new full record becomes `ACTIVE`.

        **Authentication:** Restricted to DCC system credentials. Standard Data
        User bearer tokens are rejected on this endpoint.

        **Sparse schema:** Only the fields defined in `DiscoveredAccessRecord`
        are accepted. The full `AccessRecord` schema is not used here — `notice`,
        `access-event.consent`, and `processing.lia-reference` are not applicable
        and must not be supplied.
      tags:
        - DCC
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveredAccessRecord"
            example:
              mpxn: "1234567890123"
              organisation-name: "Acme Energy Services Ltd"
              organisation-reference: "org_abc123def456"
              first-seen: "2024-06-01"
              last-seen: "2026-02-28"
              data-types-observed:
                - HH-CONSUMPTION
              source-reference: "DCC-TX-LOG-2026-03-001"
      responses:
        "201":
          description: Discovered access record created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitDiscoveredAccessResponse"
        "200":
          description: >
            Existing discovered access record updated (same mpxn and
            organisation-reference already present).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitDiscoveredAccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          description: >
            Caller does not hold DCC system credentials. This endpoint is not
            accessible to standard Data User bearer tokens.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # Data Providers: DUID directory lookup (merged into Data Providers tag)
  # ---------------------------------------------------------------------------

  /data-users/{duid}:
    get:
      operationId: getDataUser
      summary: Look Up a Data User by DUID
      description: |
        Returns profile and status information for a registered Data User
        organisation identified by DUID.

        **Intended caller: Data Providers.**

        When a Data Provider calls `GET /access-records/{ak}` to verify an
        access record, the response includes a `duid` identifying the organisation
        that registered the record. Without this endpoint, the Data Provider has
        no independent means to confirm that the `duid` belongs to an active,
        known organisation — they can only rely on their own bilateral
        onboarding records.

        This endpoint closes that gap by providing a central directory lookup.
        Data Providers **should** call this endpoint as part of first-time
        onboarding of a new DUID encountered in a verification response, and
        **may** call it periodically to detect status changes (e.g. suspension).

        **Authentication:** Bearer token required. Data Providers must obtain
        a token via `GET /auth/token` using their own `account_id:secret_key`
        credentials, which are provisioned separately from Data User credentials.

        **Note on DUID mapping:** The register intentionally does not map DUIDs
        to Data Provider platform account IDs — that linkage is the Data
        Provider's responsibility, as stated in the `GET /access-records/{ak}`
        verification checklist. This endpoint supplies the canonical
        human-readable identity (name, status, contact) for the DUID so the
        Data Provider can confirm the mapping is correct on their side.
      tags:
        - Data Providers
      security:
        - bearerAuth: []
      parameters:
        - name: duid
          in: path
          required: true
          description: >
            The Data User identifier to look up. Format: `duid_` followed by
            24 lowercase hex characters.
          schema:
            $ref: "#/components/schemas/DataUserId"
      responses:
        "200":
          description: Data User found and returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDataUserResponse"
              example:
                response:
                  resource: /v1/data-users/duid_691df0c788ca043403b7fa90
                  timestamp: "2026-03-18T10:00:00Z"
                  transaction-id: tid_abc123def456abc123def456
                data-user:
                  duid: duid_691df0c788ca043403b7fa90
                  display-name: "Bright Energy Services Ltd"
                  status: active
                  registered-at: "2024-01-15T09:00:00Z"
                  contact-url: "https://bright-energy.com/contact"
                  data-types-supported:
                    - HH-CONSUMPTION
                    - HH-EXPORT
                    - TARIFF-IMPORT
        "401":
          $ref: "#/components/responses/Unauthorised"
        "404":
          description: >
            No Data User with the supplied DUID exists in the register.
            Data Providers receiving an unknown DUID in a verification response
            should treat this as a signal to deny data release and raise a
            support query.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # NEW: Webhook registration — Controllers subscribe to lifecycle events
  # ---------------------------------------------------------------------------

  /webhooks:
    get:
      operationId: listWebhooks
      summary: List Webhook Subscriptions
      description: |
        Returns all active webhook subscriptions registered by the authenticated
        Data User.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Webhook list returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      operationId: registerWebhook
      summary: Register a Webhook Subscription
      description: |
        Registers an HTTPS callback URL to receive lifecycle event notifications
        dispatched by the register.

        **Two event types** are delivered to the same callback URL, distinguished
        by the `event-type` field in the payload envelope:

        - `consent.expiring` — fired when a consent-based access record is within
          the `notify-days-before` window of its `access-event.expiry` date. Allows
          Controllers to prompt the customer to renew before their access lapses.
          Only fired for records where `access-event.expiry` is non-null and
          `access-event.state` is `ACTIVE`.

        - `tenancy.change` — fired when the register receives notification that a
          Change of Tenancy has been recorded against an MPxN that has one or more
          `ACTIVE` access records. Controllers should use this to halt data
          collection for the departing occupant and, if appropriate, initiate a
          fresh consent or access registration for the new occupant. The event
          carries only the MPxN and the effective date of the change — no new
          occupant PII is included.

        **Delivery semantics:**
        - The register performs an HTTPS POST to the `callback-url` with the event
          payload as the request body.
        - The callback endpoint must respond with HTTP `2xx` within 10 seconds.
        - On failure the register retries with exponential backoff: 1 min, 5 min,
          30 min, 2 hr, 24 hr. After 5 failed attempts the event is marked
          `undelivered` and the Data User is notified via the registered
          `alert-email`.
        - The register signs each delivery with an HMAC-SHA256 signature over the
          raw request body, using the `signing-secret` returned at registration.
          The signature is passed in the `X-DAR-Signature` header as
          `sha256=<hex-digest>`. Receivers must verify this before processing.

        **Filtering:** By default, subscriptions receive all event types for all
        access records registered under the authenticated Data User. Supply
        `event-types` to restrict to a specific subset.

        **Idempotency:** Registering a second subscription with the same
        `callback-url` returns `409 Conflict`. Update an existing subscription
        using `PATCH /webhooks/{wid}`.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRegistrationRequest"
            example:
              callback-url: "https://app.bright-energy.com/webhooks/dar"
              alert-email: "platform-ops@bright-energy.com"
              notify-days-before: 30
              event-types:
                - consent.expiring
                - tenancy.change
      responses:
        "201":
          description: Webhook subscription created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterWebhookResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "409":
          description: >
            A subscription with the supplied `callback-url` already exists for
            this Data User. Use `PATCH /webhooks/{wid}` to update it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /webhooks/{wid}:
    patch:
      operationId: updateWebhook
      summary: Update a Webhook Subscription
      description: |
        Updates an existing webhook subscription. Only fields supplied in the
        request body are modified; omitted fields retain their current values.

        To rotate the signing secret, supply `"rotate-secret": true`. A new
        `signing-secret` is returned in the response. The old secret remains
        valid for 15 minutes to allow in-flight deliveries to complete.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: wid
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/WebhookId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdateRequest"
      responses:
        "200":
          description: Webhook subscription updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterWebhookResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      operationId: deleteWebhook
      summary: Delete a Webhook Subscription
      description: |
        Permanently removes a webhook subscription. In-flight deliveries
        already queued at the time of deletion will still be attempted.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: wid
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/WebhookId"
      responses:
        "204":
          description: Webhook subscription deleted. No response body.
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Base64-encode `account_id:secret_key`. Used only on `GET /auth/token`.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JWT from `GET /auth/token`. Pass as `Authorization: Bearer <token>`. Expires after 7200s."

  responses:
    BadRequest:
      description: The request was malformed or failed validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorised:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authenticated caller lacks permission for this action.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      description: An unexpected server-side error occurred.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    # -------------------------------------------------------------------------
    # Primitive / shared types
    # -------------------------------------------------------------------------

    MPxN:
      type: string
      pattern: "^(?:[0-9A-HJ-NPR-Z]{2}[0-9]{8,10}|[0-9]{10})$"
      description: Meter Point Administration Number (MPAN) or Meter Point Reference Number (MPRN).
      example: "1234567890123"

    AccessKey:
      type: string
      pattern: "^ak_[0-9a-f]{24}$"
      description: >
        Unique opaque identifier for an access record, issued by the register on
        creation. Treat as a secret — possession enables access verification.
      example: "ak_691df0c788ca043403b7fa90"

    DataType:
      type: array
      minItems: 1
      description: One or more energy data categories covered by this access record.
      items:
        type: string
        enum:
          - HH-CONSUMPTION
          - HH-EXPORT
          - MTH-CONSUMPTION
          - MTH-EXPORT
          - ANNUAL-CONSUMPTION
          - ANNUAL-EXPORT
          - TARIFF-IMPORT
          - TARIFF-EXPORT

    AccessState:
      type: string
      description: |
        Lifecycle state of the access record.

        - `ACTIVE` — access is registered and in force.
        - `EXPIRED` — the record's `expiry` has passed.
        - `REVOKED` — the Controller has removed their registration, or the customer
          has withdrawn consent. Retained for audit with `access-event.revoked-at` set.
        - `DISCOVERED` — a sparse record created by the DCC from historic meter
          transaction logs. The organisation has not yet registered as a Data User.
          Visible to customers for transparency but cannot authorise data release.
          Transitions to superseded when the organisation registers a full record.
      enum:
        - ACTIVE
        - EXPIRED
        - REVOKED
        - DISCOVERED

    LegalBasis:
      type: string
      description: |
        The legal basis under which the Controller accesses customer data.

        **Consent bases** — `notice` and `access-event.consent` must be populated.

        | Value | Plain name | Article |
        |---|---|---|
        | `uk-consent` | UK Consent | UK GDPR Art. 6(1)(a) |
        | `uk-explicit-consent` | UK Explicit Consent | UK GDPR Art. 9(2)(a) |

        **Non-consent bases** — `notice` and `access-event.consent` must be null.

        | Value | Plain name | Article | Supporting field |
        |---|---|---|---|
        | `uk-legitimate-interests` | UK Legitimate Interests | UK GDPR Art. 6(1)(f) | `processing.lia-reference` |
        | `uk-public-task` | UK Public Task | UK GDPR Art. 6(1)(e) | `processing.statutory-reference` |
        | `uk-legal-obligation` | UK Legal Obligation | UK GDPR Art. 6(1)(c) | `processing.statutory-reference` |
        | `uk-contract` | UK Contract | UK GDPR Art. 6(1)(b) | — |
      enum:
        - uk-consent
        - uk-explicit-consent
        - uk-legitimate-interests
        - uk-public-task
        - uk-legal-obligation
        - uk-contract
      example: "uk-consent"

    ConsentType:
      type: string
      description: |
        Legal type of consent expressed. Only applicable when `legal-basis` is a
        consent value.

        - `expressed-consent` — actively and unambiguously expressed (e.g. checkbox).
          Sufficient for standard personal data under Art. 6(1)(a).
        - `explicit-consent` — explicit and specific. Required for special category
          data under Art. 9(2)(a), or where the Controller's process mandates it.
      enum:
        - expressed-consent
        - explicit-consent

    ExpressionByEntity:
      type: string
      description: |
        Who expressed consent. Only applicable when `legal-basis` is a consent value.

        - `data-subject` — the customer themselves.
        - `authorised-representative` — a third party acting on the customer's behalf
          (e.g. a landlord or property manager acting for a tenant).
      enum:
        - data-subject
        - authorised-representative

    UKAddress:
      type: object
      properties:
        addressLine1:
          type: string
          maxLength: 100
          example: "221B Baker Street"
        addressLine2:
          type: string
          maxLength: 100
          nullable: true
          example: "Marylebone"
        townCity:
          type: string
          maxLength: 100
          example: "London"
        county:
          type: string
          maxLength: 100
          nullable: true
          example: "Greater London"
        postcode:
          type: string
          pattern: "^[A-Z]{1,2}[0-9][0-9A-Z]? ?[0-9][A-Z]{2}$"
          example: "NW1 6XE"
      required:
        - addressLine1
        - townCity
        - postcode

    # -------------------------------------------------------------------------
    # ISO 27560 Section 1: Record Metadata
    # -------------------------------------------------------------------------

    Controller:
      type: object
      description: >
        The Data Controller — the B2B customer of the Data User (Processor). Supplied
        inline on registration. Bears GDPR accountability for the legal basis claimed
        and its ongoing validity.
      properties:
        name:
          type: string
          maxLength: 255
          description: Trading name of the Controller organisation.
          example: "Bright Energy Ltd"
        contact-url:
          type: string
          format: uri
          description: URL of the Controller's customer-facing contact or privacy page.
          example: "https://bright-energy.com/contact"
        address:
          $ref: "#/components/schemas/UKAddress"
      required:
        - name
        - contact-url

    PIIPrincipal:
      type: object
      description: >
        Identifies the customer and their property. MPxN is the primary identifier;
        personal name and email are excluded to minimise PII held centrally.
      properties:
        mpxn:
          $ref: "#/components/schemas/MPxN"
        move-in-date:
          type: string
          format: date
          description: >
            Date the customer began occupying the property. Establishes the earliest
            point from which data access applies (inclusive).
          example: "2022-06-30"
        address:
          $ref: "#/components/schemas/UKAddress"
      required:
        - mpxn
        - move-in-date

    RecordMetadata:
      type: object
      description: |
        **ISO 27560 Section 1 — Record Metadata**

        `record-identifier` and `created-at` are assigned by the register on creation
        and returned in responses; they must not be supplied in request bodies.
      properties:
        schema-version:
          type: string
          description: Version of the schema profile this record conforms to.
          example: "1.0"
        record-identifier:
          readOnly: true
          $ref: "#/components/schemas/AccessKey"
        created-at:
          type: string
          format: date-time
          readOnly: true
          description: >
            UTC timestamp when this record was created in the register. May differ
            from `access-event.registered-at` for historic registrations.
          example: "2024-01-15T09:30:00Z"
        controller:
          $ref: "#/components/schemas/Controller"
        pii-principal:
          $ref: "#/components/schemas/PIIPrincipal"
      required:
        - schema-version
        - controller
        - pii-principal

    # -------------------------------------------------------------------------
    # ISO 27560 Section 2: Notice Fields
    # Present for consent records; null for non-consent records.
    # -------------------------------------------------------------------------

    NoticeFields:
      type: object
      description: |
        **ISO 27560 Section 2 — Notice Fields**

        Records the privacy notice presented to the customer at the point of consent.
        Must be populated for consent-based records (`uk-consent`, `uk-explicit-consent`).
        Must be null for all other legal bases —
        no consent notice is presented for legitimate interests, public task, or contract.

        `notice-version` alongside `terms-url` provides a stable audit reference;
        notice content may change at the same URL over time.
      properties:
        terms-url:
          type: string
          format: uri
          description: >
            URL of the Controller's privacy notice the customer agreed to.
            Must remain publicly accessible for the duration of any audit obligation.
          example: "https://bright-energy.com/privacy-v3.html"
        notice-version:
          type: string
          maxLength: 50
          description: >
            Version identifier of the specific notice agreed to, independent of URL.
          example: "v3.2"
        notice-language:
          type: string
          description: ISO 639-1 language code of the notice presented to the customer.
          example: "en"
      required:
        - terms-url
        - notice-version

    # -------------------------------------------------------------------------
    # ISO 27560 Section 3: Processing Fields
    # -------------------------------------------------------------------------

    Recipient:
      type: object
      description: A third party to whom customer data may be disclosed.
      properties:
        name:
          type: string
          maxLength: 255
          example: "Analytics Co Ltd"
        role:
          type: string
          maxLength: 100
          description: >
            Role of this recipient (e.g. "Sub-processor", "Joint Controller",
            "Third Party Recipient").
          example: "Sub-processor"
        privacy-url:
          type: string
          format: uri
          example: "https://analyticsco.com/privacy"
      required:
        - name
        - role

    StorageConditions:
      type: object
      properties:
        location:
          type: string
          description: ISO 3166-1 alpha-2 country code where data is stored. Expected to be `GB` for UK-only deployments.
          example: "GB"
        retention-period:
          type: string
          description: ISO 8601 duration for data retention after expiry or revocation.
          example: "P2Y"
      required:
        - location
        - retention-period

    ProcessingFields:
      type: object
      description: |
        **ISO 27560 Section 3 — Processing Fields**

        Defines the scope and legal basis of data access. `legal-basis` and
        `privacy-rights-url` are required for all record types.

        For **legitimate interests** records, `lia-reference` should be supplied —
        its absence is valid but indicates an incomplete audit trail.

        For **public task** or **legal obligation** records, `statutory-reference`
        should be supplied identifying the specific legislation or regulatory condition
        authorising access.
      properties:
        legal-basis:
          $ref: "#/components/schemas/LegalBasis"
        purpose:
          type: string
          maxLength: 500
          description: >
            Human-readable description of why the Controller is accessing this data.
            Required by GDPR Art. 13(1)(c).
          example: "Energy efficiency analysis and tariff recommendations"
        data-types:
          $ref: "#/components/schemas/DataType"
        privacy-rights-url:
          type: string
          format: uri
          description: >
            URL of the Controller's data subject rights page. Required by
            GDPR Art. 13(2)(b)/(c) for all legal bases.
          example: "https://bright-energy.com/your-rights"
        lia-reference:
          type: string
          maxLength: 255
          description: >
            Reference to the Controller's Legitimate Interests Assessment for this
            processing activity. Expected when `legal-basis` is `uk-legitimate-interests`.
          example: "LIA-2024-003"
        statutory-reference:
          type: string
          maxLength: 500
          description: >
            The statutory instrument, regulation, or licence condition authorising
            access. Expected when `legal-basis` is `uk-public-task` or `uk-legal-obligation`.
          example: "Energy Act 2023, s.147"
        jurisdiction:
          type: string
          enum:
            - GB
          default: "GB"
          readOnly: true
          description: >
            Jurisdiction governing processing. Fixed to `GB` (Great Britain) as this
            is a UK-only register operating under UK GDPR and the Data Protection
            Act 2018. This field is set automatically and does not need to be supplied.
        data-source:
          type: string
          maxLength: 255
          description: Name of the organisation(s) from which meter data is sourced.
          example: "National Grid ESO / MPAS"
        recipients:
          type: array
          description: Third parties to whom data may be disclosed. Omit if none.
          items:
            $ref: "#/components/schemas/Recipient"
        storage-conditions:
          $ref: "#/components/schemas/StorageConditions"
      required:
        - legal-basis
        - purpose
        - data-types
        - privacy-rights-url

    # -------------------------------------------------------------------------
    # ISO 27560 Section 4: Access Event Fields
    # ConsentDetails sub-object is populated for consent records, null otherwise.
    # -------------------------------------------------------------------------

    PrincipalVerification:
      type: object
      description: |
        Records how the Controller verified the identity of the principal *before*
        consent was obtained.

        Identity verification and consent expression are distinct processes:
        - **Verification** confirms that the person is who they claim to be.
        - **Consent** records that the verified person agreed to processing.

        This object captures the verification event in a generic envelope applicable
        to all methods. Method-specific supplementary data that does not fit the
        standard fields may be placed in `detail`.

        `submitted` must always be redacted — the register must never hold a full
        card number, full account number, or other unredacted sensitive credential.
      properties:
        method:
          type: string
          maxLength: 100
          description: >
            The verification mechanism used to confirm the principal's identity
            (e.g. "credit-card", "account-postcode", "in-home-display",
            "gov-id-check", "existing-authenticated-session").
          example: "credit-card"
        verified-at:
          type: string
          format: date-time
          description: UTC timestamp of when the verification was performed.
          example: "2023-11-07T05:31:00Z"
        outcome:
          type: string
          enum:
            - verified
            - failed
            - partial
          description: |
            Result of the verification check.
            - `verified` — identity confirmed.
            - `failed` — verification was attempted but could not be confirmed.
            - `partial` — some signals matched but full verification was not achieved
              (e.g. postcode matched but name did not).
          example: "verified"
        reference:
          type: string
          maxLength: 255
          description: >
            Opaque reference to the verification event in the external system.
            Allows the Controller to look up the full verification record
            (e.g. Stripe charge ID, IHD session ID, CRM verification ticket number).
          example: "ch_3ABC123xyz"
        submitted:
          type: string
          maxLength: 255
          description: >
            Redacted representation of the credential or value submitted by the
            principal (e.g. "XXXX-XXXX-XXXX-4242", "postcode SW1A 1AA",
            "IHD code 6-digit entry"). Must never contain unredacted sensitive data.
          example: "XXXX-XXXX-XXXX-4242"
        verified-against:
          type: string
          maxLength: 255
          description: >
            Description of what the submitted value was checked against
            (e.g. "Stripe customer record cus_ABC123",
            "Smart meter pairing code issued by DCC",
            "Utility account postcode on file in CRM").
          example: "Stripe customer record cus_ABC123"
        detail:
          type: object
          additionalProperties: true
          description: >
            Freeform object for method-specific supplementary data not captured by
            the standard fields. Controllers may include any additional verification
            metadata here (e.g. card brand, device ID, assurance level).
          example:
            last4: "4242"
            brand: "visa"
            stripe_customer: "cus_ABC123"
      required:
        - method
        - verified-at
        - outcome

    ConsentDetails:
      type: object
      description: |
        Consent-specific event details. Nested within `access-event`. Must be
        populated when `processing.legal-basis` is a consent value; must be null
        for all other legal bases.
      properties:
        consent-type:
          $ref: "#/components/schemas/ConsentType"
        method:
          type: string
          maxLength: 100
          description: >
            Mechanism through which consent was expressed — how the principal
            indicated their agreement (e.g. "Explicit web checkbox",
            "Signed paper form", "Voice recording", "In-app toggle").
            This field records consent expression, not identity verification.
            Identity verification is recorded in `principal-verification`.
          example: "Explicit web checkbox"
        expressed-by:
          $ref: "#/components/schemas/ExpressionByEntity"
        principal-verification:
          nullable: true
          description: >
            How the Controller verified the identity of the principal before
            consent was obtained. Strongly recommended for all consent records.
            Null indicates no structured verification data was recorded.
          allOf:
            - $ref: "#/components/schemas/PrincipalVerification"
      required:
        - consent-type
        - expressed-by

    AccessEventFields:
      type: object
      description: |
        **ISO 27560 Section 4 — Access Event Fields**

        Records when access was registered, its lifecycle state and duration, and
        (for consent records) the specific details of how consent was expressed.

        `registered-at` serves as the canonical event timestamp for all record types —
        for consent records it is the date the customer gave consent; for non-consent
        records it is the date the Controller registered their access.

        `revoked-at` is set by the register on revocation and must not be supplied
        in request bodies.
      properties:
        state:
          $ref: "#/components/schemas/AccessState"
        registered-at:
          type: string
          format: date-time
          description: >
            For consent records: date and time the customer gave consent.
            For non-consent records: date and time the Controller registered access.
            May predate `record-metadata.created-at` for historic registrations.
          example: "2023-11-07T05:31:56Z"
        expiry:
          type: string
          format: date-time
          nullable: true
          description: >
            When this access registration expires. Null indicates no defined end date.
            Data Providers must deny access once this timestamp has passed.
          example: "2027-11-10T17:07:01.580Z"
        controller-reference:
          type: string
          maxLength: 255
          description: >
            Controller's internal reference for this registration (e.g. CRM ID,
            contract number, or LIA document reference).
          example: "REF-00123"
        consent:
          nullable: true
          description: >
            Populated for consent-based records; null for all other legal bases.
          allOf:
            - $ref: "#/components/schemas/ConsentDetails"
        revoked-at:
          type: string
          format: date-time
          readOnly: true
          description: >
            UTC timestamp of revocation. Set by the register; not accepted in requests.
          example: "2025-06-01T14:22:00Z"
      required:
        - state
        - registered-at
        - expiry
        - consent

    # -------------------------------------------------------------------------
    # Top-level Access Record — single unified schema for all legal bases
    # -------------------------------------------------------------------------

    AccessRecord:
      type: object
      description: |
        A data access record covering all lawful bases. The same schema is used
        regardless of `processing.legal-basis`. The `notice` field and
        `access-event.consent` sub-object are null for non-consent records and
        populated for consent records.
      properties:
        record-metadata:
          $ref: "#/components/schemas/RecordMetadata"
        notice:
          nullable: true
          description: >
            Populated for consent-based records; null for all other legal bases.
          allOf:
            - $ref: "#/components/schemas/NoticeFields"
        processing:
          $ref: "#/components/schemas/ProcessingFields"
        access-event:
          $ref: "#/components/schemas/AccessEventFields"
      required:
        - record-metadata
        - notice
        - processing
        - access-event

    # -------------------------------------------------------------------------
    # Response wrappers
    # -------------------------------------------------------------------------

    AccessToken:
      type: object
      description: >
        The access token issued on successful registration. Pass to Data Providers
        to enable access verification.
      properties:
        key:
          $ref: "#/components/schemas/AccessKey"
        expiry:
          type: string
          format: date-time
          nullable: true
          description: Mirrors `access-event.expiry` for convenience.
          example: "2027-11-10T17:07:01.580Z"
      required:
        - key

    RegisterAccessResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        access-token:
          $ref: "#/components/schemas/AccessToken"
      required:
        - response
        - access-token

    VerifyAccessResponse:
      type: object
      description: >
        The full access record returned for verification. `notice` and
        `access-event.consent` will be null for non-consent records.
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        access-record:
          $ref: "#/components/schemas/AccessRecord"
      required:
        - response
        - access-record

    RevokeAccessResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        ak:
          $ref: "#/components/schemas/AccessKey"
        revoked-at:
          type: string
          format: date-time
          description: UTC timestamp of revocation.
          example: "2025-06-01T14:22:00Z"
      required:
        - response
        - ak
        - revoked-at

    AccessRecordSummary:
      type: object
      description: A summary entry as returned in a list response.
      properties:
        ak:
          $ref: "#/components/schemas/AccessKey"
        record-metadata:
          $ref: "#/components/schemas/RecordMetadata"
          nullable: true
          description: >
            Present for full access records. Null for DISCOVERED records, which
            carry a `discovered-access` object instead.
        legal-basis:
          $ref: "#/components/schemas/LegalBasis"
          nullable: true
          description: >
            Present for full access records. Null for DISCOVERED records.
        purpose:
          type: string
          nullable: true
          example: "Energy efficiency analysis and tariff recommendations"
        data-types:
          $ref: "#/components/schemas/DataType"
        state:
          $ref: "#/components/schemas/AccessState"
        expiry:
          type: string
          format: date-time
          nullable: true
        discovered-access:
          nullable: true
          description: >
            Populated only for `DISCOVERED` records. Null for all other states.
            Contains the sparse information derived from DCC transaction logs.
          allOf:
            - $ref: "#/components/schemas/DiscoveredAccessRecord"
      required:
        - ak
        - data-types
        - state

    ListAccessRecordsResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        mpxn:
          $ref: "#/components/schemas/MPxN"
        access-records:
          type: array
          items:
            $ref: "#/components/schemas/AccessRecordSummary"
      required:
        - response
        - mpxn
        - access-records

    AuthToken:
      type: object
      properties:
        bearer-token:
          type: string
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
        expires:
          type: integer
          description: Token lifetime in seconds from issue.
          example: 7200
      required:
        - bearer-token
        - expires

    ResponseMetadata:
      type: object
      properties:
        resource:
          type: string
          example: "/v1/access-records/ak_691df0c788ca043403b7fa90"
        timestamp:
          type: string
          format: date-time
          example: "2026-03-11T12:00:00Z"
        transaction-id:
          type: string
          description: Unique identifier for this request/response pair. Quote in support enquiries.
          example: "tid_691df0c788ca043403b7fa90"
      required:
        - resource
        - timestamp
        - transaction-id

    # -------------------------------------------------------------------------
    # DCC: Discovered access schemas
    # -------------------------------------------------------------------------

    DiscoveredAccessRecord:
      type: object
      description: |
        A sparse access record derived from DCC historic meter transaction logs.
        Submitted by the DCC when it detects an organisation making data requests
        against a meter point that has no corresponding DAR registration.

        This schema is intentionally minimal — it captures only what the DCC can
        observe from transaction logs without requiring the organisation's
        participation. The `organisation-name` is the DCC's own record of the
        requesting party; it is not validated against any external directory.

        DISCOVERED records are visible to customers in the access record list and
        serve as a prompt for the organisation to formalise their registration.
        They cannot be used to authorise data release.
      properties:
        mpxn:
          $ref: "#/components/schemas/MPxN"
        organisation-name:
          type: string
          maxLength: 255
          description: >
            The name of the organisation as known to the DCC from its transaction
            records. Not validated against the Data User directory.
          example: "Acme Energy Services Ltd"
        organisation-reference:
          type: string
          maxLength: 255
          description: >
            The DCC's internal identifier for this organisation. Used to link the
            DISCOVERED record to a full access record when the organisation
            subsequently registers as a Data User.
          example: "org_abc123def456"
        first-seen:
          type: string
          format: date
          description: >
            The earliest date on which the DCC observed a data request from this
            organisation against this MPxN.
          example: "2024-06-01"
        last-seen:
          type: string
          format: date
          description: >
            The most recent date on which the DCC observed a data request from
            this organisation against this MPxN.
          example: "2026-02-28"
        data-types-observed:
          description: >
            The data types the DCC observed being requested. Uses the same enum
            as `processing.data-types` on a full access record.
          allOf:
            - $ref: "#/components/schemas/DataType"
        source-reference:
          type: string
          maxLength: 255
          description: >
            The DCC's internal reference for the transaction log batch or audit
            record from which this discovered access was derived. Retained for
            traceability.
          example: "DCC-TX-LOG-2026-03-001"
        superseded-by:
          type: string
          readOnly: true
          description: >
            The access key (`ak`) of the full access record that supersedes this
            DISCOVERED record, if the organisation has since registered. Set by
            the register; not accepted in requests.
          nullable: true
          example: "ak_691df0c788ca043403b7fa90"
      required:
        - mpxn
        - organisation-name
        - organisation-reference
        - first-seen
        - data-types-observed
        - source-reference

    SubmitDiscoveredAccessResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        ak:
          $ref: "#/components/schemas/AccessKey"
        state:
          $ref: "#/components/schemas/AccessState"
          description: Will always be `DISCOVERED` for records created by this endpoint.
      required:
        - response
        - ak
        - state

    # -------------------------------------------------------------------------
    # Customer Portal schemas
    # -------------------------------------------------------------------------

    CustomerSessionPurpose:
      type: string
      description: |
        Declares the intended use of the customer portal session. Enforced
        by the portal — the Data User cannot cause the portal to exceed the
        declared scope.

        - `view` — customer can browse access records. Withdrawal controls
          are not shown.
        - `manage` — customer can browse records and withdraw consent for
          active consent-based records.
      enum:
        - view
        - manage

    CreateCustomerSessionRequest:
      type: object
      properties:
        mpxn:
          $ref: "#/components/schemas/MPxN"
        return-url:
          type: string
          format: uri
          description: >
            URL to link back to the Data User's application from the portal.
            Must exactly match a pre-registered callback URL for this Data User.
            If the customer withdraws a consent during the session, the portal
            appends `?dar-action=withdrawn&ak={ak}` before redirecting, allowing
            the application to update its UI state without waiting for the webhook.
          example: "https://app.bright-energy.com/dashboard"
        purpose:
          $ref: "#/components/schemas/CustomerSessionPurpose"
      required:
        - mpxn
        - return-url
        - purpose

    CreateCustomerSessionResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        session-token:
          type: string
          description: >
            Short-lived, single-use redirect token. Embed in `portal-url` —
            do not store or log. Expires after `expires-in` seconds or on
            first redemption, whichever comes first.
          example: "cst_a1b2c3d4e5f6a1b2c3d4e5f6"
        expires-in:
          type: integer
          description: Redirect token lifetime in seconds from issue.
          example: 60
        portal-url:
          type: string
          format: uri
          description: >
            The full portal URL including the session token as a query parameter.
            Open in a new browser window via `window.open(url, '_blank')`.
            Valid for `expires-in` seconds.
          example: "https://portal.central.consent/consents?token=cst_a1b2c3d4e5f6a1b2c3d4e5f6"
      required:
        - response
        - session-token
        - expires-in
        - portal-url

    # -------------------------------------------------------------------------
    # Webhook event: consent.withdrawal payload
    # -------------------------------------------------------------------------

    ConsentWithdrawalPayload:
      description: |
        Payload delivered when a customer withdraws consent via the centralised
        Customer Consent Portal.

        **Timing:** The access record has already been transitioned to `REVOKED`
        state by the portal before this event is fired. Data Users must treat
        receipt of this event as confirmation that access has ended — not as a
        request to end it. Any in-flight data requests against the revoked `ak`
        will be denied by the Data Provider.

        **Required action:** Data Users must update their own systems to reflect
        the withdrawal immediately on receipt. Continued data collection after
        receiving this event constitutes a breach of the access record terms.

        **`return-url` signal:** If the customer was in a session initiated by
        this Data User, the portal will also have appended
        `?dar-action=withdrawn&ak={ak}` to the `return-url` at the point of
        withdrawal. This provides an immediate UI signal in addition to the webhook.
      allOf:
        - $ref: "#/components/schemas/WebhookEventEnvelope"
        - type: object
          properties:
            payload:
              type: object
              properties:
                ak:
                  $ref: "#/components/schemas/AccessKey"
                mpxn:
                  $ref: "#/components/schemas/MPxN"
                revoked-at:
                  type: string
                  format: date-time
                  description: UTC timestamp when the record was transitioned to REVOKED.
                  example: "2026-03-19T14:32:00Z"
                controller-reference:
                  type: string
                  description: >
                    Mirrors `access-event.controller-reference` from the access
                    record, allowing the Data User to locate the record in their
                    own system without parsing the full access record.
                  example: "REF-00123"
              required:
                - ak
                - mpxn
                - revoked-at
          required:
            - payload
      example:
        event-id: evt_2c3d4e5f6a1b2c3d4e5f6a1b
        event-type: consent.withdrawal
        occurred-at: "2026-03-19T14:32:00Z"
        wid: wid_a1b2c3d4e5f6a1b2c3d4e5f6
        payload:
          ak: ak_691df0c788ca043403b7fa90
          mpxn: "1234567890123"
          revoked-at: "2026-03-19T14:32:00Z"
          controller-reference: REF-00123

    ErrorDetail:
      type: object
      properties:
        error-code:
          type: string
          example: "VAL001"
        message:
          type: string
          example: "Field 'mpxn' does not match the required pattern."
      required:
        - error-code
        - message

    ErrorResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        errors:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/ErrorDetail"
      required:
        - response
        - errors

    # -------------------------------------------------------------------------
    # Data Provider schemas (DUID directory lookup)
    # -------------------------------------------------------------------------

    DataUserId:
      type: string
      pattern: "^duid_[0-9a-f]{24}$"
      description: >
        Unique identifier for a registered Data User organisation, issued by the
        register at onboarding.
      example: "duid_691df0c788ca043403b7fa90"

    DataUserStatus:
      type: string
      description: |
        Operational status of the Data User registration.

        - `active` — the Data User is in good standing and access records it has
          registered are considered valid.
        - `suspended` — the Data User's registration has been suspended (e.g.
          pending a compliance review). Data Providers **must** deny data release
          for all access records registered under a suspended Data User until
          status returns to `active`.
        - `terminated` — the Data User's registration has been permanently
          withdrawn. All associated access records are considered invalid.
      enum:
        - active
        - suspended
        - terminated

    DataUserProfile:
      type: object
      description: >
        Public directory entry for a registered Data User organisation.
        Returned by `GET /data-users/{duid}`.
      properties:
        duid:
          $ref: "#/components/schemas/DataUserId"
        display-name:
          type: string
          maxLength: 255
          description: Trading name of the Data User organisation.
          example: "Bright Energy Services Ltd"
        status:
          $ref: "#/components/schemas/DataUserStatus"
        registered-at:
          type: string
          format: date-time
          description: UTC timestamp when this Data User was registered in the directory.
          example: "2024-01-15T09:00:00Z"
        suspended-at:
          type: string
          format: date-time
          nullable: true
          description: >
            UTC timestamp of the most recent suspension. Null if the Data User
            has never been suspended.
          example: null
        contact-url:
          type: string
          format: uri
          description: >
            URL of the Data User's public contact or support page. Allows Data
            Providers to make direct enquiries about specific access records.
          example: "https://bright-energy.com/contact"
        data-types-supported:
          description: >
            The data types this Data User is authorised to register access records
            for. Data Providers may use this to validate that a data type appearing
            in an access record is within the Data User's authorised scope.
          allOf:
            - $ref: "#/components/schemas/DataType"
      required:
        - duid
        - display-name
        - status
        - registered-at
        - contact-url
        - data-types-supported

    GetDataUserResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        data-user:
          $ref: "#/components/schemas/DataUserProfile"
      required:
        - response
        - data-user

    # -------------------------------------------------------------------------
    # NEW: Webhook schemas
    # -------------------------------------------------------------------------

    WebhookId:
      type: string
      pattern: "^wid_[0-9a-f]{24}$"
      description: Unique identifier for a webhook subscription.
      example: "wid_a1b2c3d4e5f6a1b2c3d4e5f6"

    WebhookEventType:
      type: string
      description: |
        The event type delivered to the webhook callback URL.

        - `consent.expiring` — a consent-based access record is within the
          configured `notify-days-before` window of its expiry date.
        - `tenancy.change` — a Change of Tenancy has been recorded against an
          MPxN that has one or more `ACTIVE` access records registered under
          this Data User.
        - `consent.withdrawal` — a customer has withdrawn consent via the
          centralised Customer Consent Portal. The access record has already
          transitioned to `REVOKED` state before this event is fired. Data
          Users must update their own systems immediately on receipt.
      enum:
        - consent.expiring
        - tenancy.change
        - consent.withdrawal

    WebhookRegistrationRequest:
      type: object
      properties:
        callback-url:
          type: string
          format: uri
          description: >
            HTTPS endpoint that will receive event POST requests. HTTP (non-TLS)
            URLs are rejected. The endpoint must return HTTP `2xx` within 10 seconds.
          example: "https://app.bright-energy.com/webhooks/dar"
        alert-email:
          type: string
          format: email
          description: >
            Email address to notify if repeated delivery failures occur (after the
            final retry attempt). Should be a monitored operations mailbox.
          example: "platform-ops@bright-energy.com"
        notify-days-before:
          type: integer
          minimum: 1
          maximum: 90
          default: 30
          description: >
            How many days before `access-event.expiry` the register should fire a
            `consent.expiring` event. Only applies to `consent.expiring` events.
            Default is 30 days if omitted.
          example: 30
        event-types:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/WebhookEventType"
          default:
            - consent.expiring
            - tenancy.change
          description: >
            Event types this subscription should receive. Defaults to all types
            if omitted.
      required:
        - callback-url
        - alert-email

    WebhookUpdateRequest:
      type: object
      description: >
        Partial update payload for an existing webhook subscription. All fields
        are optional; only supplied fields are modified.
      properties:
        callback-url:
          type: string
          format: uri
          example: "https://app.bright-energy.com/webhooks/dar-v2"
        alert-email:
          type: string
          format: email
          example: "ops-team@bright-energy.com"
        notify-days-before:
          type: integer
          minimum: 1
          maximum: 90
          example: 14
        event-types:
          type: array
          minItems: 1
          items:
            $ref: "#/components/schemas/WebhookEventType"
        rotate-secret:
          type: boolean
          default: false
          description: >
            Set to `true` to rotate the HMAC signing secret. A new
            `signing-secret` is returned in the response. The previous secret
            remains valid for 15 minutes to allow in-flight deliveries to drain.

    WebhookSubscription:
      type: object
      description: A registered webhook subscription as returned by the API.
      properties:
        wid:
          $ref: "#/components/schemas/WebhookId"
        callback-url:
          type: string
          format: uri
          example: "https://app.bright-energy.com/webhooks/dar"
        alert-email:
          type: string
          format: email
          example: "platform-ops@bright-energy.com"
        notify-days-before:
          type: integer
          example: 30
        event-types:
          type: array
          items:
            $ref: "#/components/schemas/WebhookEventType"
        created-at:
          type: string
          format: date-time
          example: "2026-01-10T08:00:00Z"
      required:
        - wid
        - callback-url
        - alert-email
        - notify-days-before
        - event-types
        - created-at

    RegisterWebhookResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        webhook:
          $ref: "#/components/schemas/WebhookSubscription"
        signing-secret:
          type: string
          description: >
            HMAC-SHA256 signing secret for this subscription. Returned only on
            creation (`POST`) or when `rotate-secret: true` is supplied on update.
            Store securely — this value is not retrievable after the response
            is returned.
          example: "whsec_a1b2c3d4e5f6a1b2c3d4e5f6a1b2c3d4"
      required:
        - response
        - webhook

    ListWebhooksResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        webhooks:
          type: array
          items:
            $ref: "#/components/schemas/WebhookSubscription"
      required:
        - response
        - webhooks

    # -------------------------------------------------------------------------
    # NEW: Webhook event payload schemas
    # Both events share a common envelope; event-type distinguishes them.
    # -------------------------------------------------------------------------

    WebhookEventEnvelope:
      type: object
      description: |
        Common envelope wrapping all webhook event payloads. The `event-type`
        field identifies the event; the `payload` object structure varies by type
        (see `ConsentExpiringPayload` and `TenancyChangePayload`).

        **Signature verification** — before processing, receivers must verify the
        `X-DAR-Signature` request header:

        ```
        expected = "sha256=" + HMAC-SHA256(raw_request_body, signing_secret).hex()
        assert header["X-DAR-Signature"] == expected
        ```

        Reject any delivery where the signature does not match.
      properties:
        event-id:
          type: string
          description: >
            Unique identifier for this event delivery. Use for idempotency —
            the register may redeliver an event on retry; the `event-id` will
            be identical across retries for the same underlying event.
          example: "evt_9f8e7d6c5b4a9f8e7d6c5b4a"
        event-type:
          $ref: "#/components/schemas/WebhookEventType"
        occurred-at:
          type: string
          format: date-time
          description: UTC timestamp when the triggering condition was detected.
          example: "2026-03-18T09:00:00Z"
        wid:
          $ref: "#/components/schemas/WebhookId"
      required:
        - event-id
        - event-type
        - occurred-at
        - wid

    ConsentExpiringPayload:
      description: |
        Payload delivered when a consent-based access record is within the
        `notify-days-before` window of its expiry.

        The full `access-record` is included so the Controller can identify
        the customer and initiate a renewal flow without a separate API call.
        The Controller should present the customer with an opportunity to renew
        consent before `expires-at` is reached. If the customer does not renew,
        the record will transition to `EXPIRED` state and the Data Provider will
        deny further data access.

        **Note:** This event is only fired once per record per expiry window.
        If the record is updated (e.g. expiry extended) a new event will be
        fired when the new expiry enters the notification window.
      allOf:
        - $ref: "#/components/schemas/WebhookEventEnvelope"
        - type: object
          properties:
            payload:
              type: object
              properties:
                ak:
                  $ref: "#/components/schemas/AccessKey"
                mpxn:
                  $ref: "#/components/schemas/MPxN"
                expires-at:
                  type: string
                  format: date-time
                  description: The expiry timestamp of the access record.
                  example: "2026-04-17T17:07:01.580Z"
                days-remaining:
                  type: integer
                  description: >
                    Number of days between `occurred-at` and `expires-at`,
                    rounded down. Provided for convenience.
                  example: 30
                controller-reference:
                  type: string
                  description: >
                    Mirrors `access-event.controller-reference` from the access
                    record, allowing the Controller to look up the record in
                    their own system without parsing the full access-record.
                  example: "REF-00123"
                access-record:
                  $ref: "#/components/schemas/AccessRecord"
              required:
                - ak
                - mpxn
                - expires-at
                - days-remaining
                - access-record
          required:
            - payload
      example:
        event-id: evt_9f8e7d6c5b4a9f8e7d6c5b4a
        event-type: consent.expiring
        occurred-at: "2026-03-18T09:00:00Z"
        wid: wid_a1b2c3d4e5f6a1b2c3d4e5f6
        payload:
          ak: ak_691df0c788ca043403b7fa90
          mpxn: "1234567890123"
          expires-at: "2026-04-17T17:07:01.580Z"
          days-remaining: 30
          controller-reference: REF-00123

    TenancyChangePayload:
      description: |
        Payload delivered when a Change of Tenancy is recorded against an MPxN
        that has one or more `ACTIVE` access records registered under this
        Data User.

        A Change of Tenancy means the previous occupant's consent or access
        registration is no longer applicable — the person who granted access
        no longer occupies the property. Controllers **must** treat this event
        as a signal to:

        1. Immediately cease data collection for the affected MPxN.
        2. Revoke all `ACTIVE` access records for the MPxN via
           `DELETE /access-records/{ak}` unless a non-occupancy legal basis
           (e.g. public task, legitimate interests) applies and remains valid.
        3. If a new occupant relationship exists, register a fresh access
           record once the new occupant has been identified and (where
           required) has given consent.

        **PII note:** This payload contains only the MPxN and the effective
        date of the tenancy change. No new occupant name, address, or contact
        details are included — the register holds no new occupant PII at this
        point. The MPxN is retained because Controllers need it to locate the
        affected records in their own systems.

        **Affected access keys:** The `affected-aks` array lists the access
        keys of all `ACTIVE` records for the MPxN at the time the event was
        fired. Controllers should use these to perform targeted revocations
        rather than querying the full list.
      allOf:
        - $ref: "#/components/schemas/WebhookEventEnvelope"
        - type: object
          properties:
            payload:
              type: object
              properties:
                mpxn:
                  $ref: "#/components/schemas/MPxN"
                effective-date:
                  type: string
                  format: date
                  description: >
                    The date the tenancy change takes effect. Data access for the
                    previous occupant should cease no later than this date.
                  example: "2026-04-01"
                affected-aks:
                  type: array
                  minItems: 1
                  items:
                    $ref: "#/components/schemas/AccessKey"
                  description: >
                    Access keys of all `ACTIVE` records for this MPxN at the
                    time the event was fired. Includes records for all legal
                    bases, not just consent.
                  example:
                    - ak_691df0c788ca043403b7fa90
                    - ak_111aaa222bbb333ccc444ddd
              required:
                - mpxn
                - effective-date
                - affected-aks
          required:
            - payload
      example:
        event-id: evt_1a2b3c4d5e6f1a2b3c4d5e6f
        event-type: tenancy.change
        occurred-at: "2026-03-18T09:15:00Z"
        wid: wid_a1b2c3d4e5f6a1b2c3d4e5f6
        payload:
          mpxn: "1234567890123"
          effective-date: "2026-04-01"
          affected-aks:
            - ak_691df0c788ca043403b7fa90

# =============================================================================
# x-webhooks: Documents the outbound event shapes dispatched by the register.
# Not executable paths — for documentation and SDK generation only.
# =============================================================================

x-webhooks:
  consent.expiring:
    post:
      operationId: onConsentExpiring
      summary: Consent Expiring Event
      description: |
        Fired when a consent-based access record enters the notification window
        before its expiry date (controlled by the subscription's
        `notify-days-before` setting, default 30 days).

        The register POSTs this payload to the registered `callback-url`.
        Verify the `X-DAR-Signature` header before processing.
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsentExpiringPayload"
      responses:
        "200":
          description: >
            Receiver acknowledged the event. Any `2xx` response is accepted.

  tenancy.change:
    post:
      operationId: onTenancyChange
      summary: Tenancy Change Event
      description: |
        Fired when a Change of Tenancy is recorded against an MPxN that has
        one or more `ACTIVE` access records registered under this Data User.

        The register POSTs this payload to the registered `callback-url`.
        Verify the `X-DAR-Signature` header before processing.

        Controllers must cease data collection and revoke affected access
        records promptly on receiving this event.
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TenancyChangePayload"
      responses:
        "200":
          description: >
            Receiver acknowledged the event. Any `2xx` response is accepted.

  consent.withdrawal:
    post:
      operationId: onConsentWithdrawal
      summary: Consent Withdrawal Event
      description: |
        Fired when a customer withdraws consent via the centralised Customer
        Consent Portal. The access record has already transitioned to `REVOKED`
        state before this event is dispatched.

        The register POSTs this payload to the registered `callback-url`.
        Verify the `X-DAR-Signature` header before processing.

        Data Users must update their own systems immediately on receipt.
        Continued data collection after this event is a breach of the
        access record terms.
      tags:
        - Webhooks
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ConsentWithdrawalPayload"
      responses:
        "200":
          description: >
            Receiver acknowledged the event. Any `2xx` response is accepted.
