openapi: 3.1.0
info:
  title: Data Access Register
  description: |
    Core APIs for the Central Data Access Register.

    The register records all lawful access to customer energy data by Controllers,
    regardless of the legal basis on which that access rests. It is not exclusively
    a consent register — legitimate interests, public task, legal obligation, and
    contract are all within scope alongside consent-based access.

    **Jurisdiction:** This is a UK-only solution. All Controllers, customers, and
    meter points are within Great Britain. The governing data protection framework
    is **UK GDPR** and the **Data Protection Act 2018**. EU GDPR does not apply.
    The jurisdiction field is fixed to `GB` and does not need to be supplied.

    ## Purpose

    The register provides a single, auditable source of truth for:

    - **Controllers** — to record and demonstrate the legal basis under which they
      access customer meter data.
    - **Data Providers** — to verify that a Controller has a registered, active access
      record before releasing data.
    - **Customers** — to view all parties registered as having lawful access to their
      meter point, on request via any Controller.

    ## Party Model

    | Party | UK GDPR Role | Description |
    |---|---|---|
    | **Data User** | Processor | Operates the register. Fetches and processes meter data on behalf of Controllers. Authenticated via bearer token. |
    | **Controller** | Data Controller | A B2B customer of the Data User. One or more Controllers may be registered per access record — sole, joint (Art. 26), or group (trading name transparency). Bears GDPR accountability for the legal basis and its ongoing validity. |
    | **Customer** | Data Subject | The energy customer. Identified by MPxN to minimise PII held centrally. |
    | **Data Provider** | Data Source | Holds meter data. Verifies access records before releasing data via `GET /access-records/{ak}`. |

    ## Record Structure

    All access records share a single schema — `AccessRecord` — with four sections
    aligned to ISO/IEC TS 27560:2023:

    1. **`record-metadata`** — record identifier, creation timestamp, controller
       arrangement (sole, joint, or group), and a reference to the associated
       Identity Record. Present for all records.
    2. **`notice`** — the privacy notice(s) presented to the customer. Present only
       for consent-based records; null for all other legal bases. Supports a single
       shared notice (common) or per-controller notices (joint arrangements where
       controllers discharge Art. 13 obligations separately).
    3. **`processing`** — legal basis, purpose, data types, and related obligations.
       Present for all records. Per-controller compliance fields (privacy rights URL,
       LIA reference, statutory reference, storage conditions) are held on each
       controller entry within `record-metadata.controller-arrangement`.
    4. **`access-event`** — when and how access was registered or consent was obtained;
       current lifecycle state. Present for all records.

    The `notice` and `access-event.consent` sub-object are null for non-consent records.
    The `access-event.consent` sub-object is null for non-consent records and populated
    for consent records.

    ## Identity Records

    The person-property relationship — who the individual is and their occupancy of the
    meter point — is held separately in an **Identity Record** (`/identity-records`).
    This keeps PII (MPxN, address, move-in date) and identity verification evidence
    out of the access record entirely.

    Each `AccessRecord` carries an `identity-record-ref` (`ir` key) linking it to its
    Identity Record. Identity Records are accessible only to authenticated Data Users.
    The unauthenticated `GET /access-records/{ak}` endpoint used by Data Providers
    never returns PII.

    Identity Records support two re-identification flows to reconnect a returning
    customer to an existing record without re-collecting all their details:
    - **Magic link** — a short-lived email link triggers re-identification.
    - **Passkey** — initiates a WebAuthn registration or assertion ceremony.

    ## Legal Basis and Required Fields

    The `processing.legal-basis` value determines which fields within `notice` and
    `access-event.consent` are expected:

    | Legal basis | `notice` | `access-event.consent` |
    |---|---|---|
    | `uk-consent`, `uk-explicit-consent` | **Required** | **Required** |
    | All other bases | Must be null | Must be null |

    For legitimate interests records, `lia-reference` should be supplied on the
    lead controller entry within `record-metadata.controller-arrangement`.
    For public task or legal obligation records, `statutory-reference`
    should be supplied on the lead controller entry.

    ## Access Record Lifecycle

    Records are never hard-deleted. All state transitions are recorded with timestamps.

    ```
    [ACTIVE] ──revoke──▶ [REVOKED]
    [ACTIVE] ──expiry──▶ [EXPIRED]
    [DISCOVERED] ──claimed──▶ [ACTIVE]
    [DISCOVERED] ──expiry──▶ [EXPIRED]
    ```

    `REVOKED` represents consent withdrawal (consent records) or the Controller
    removing their registration (non-consent records). Data Providers must deny
    access for any record not in `ACTIVE` state with a future (or null) expiry.

    `DISCOVERED` is a sparse, read-only state created by the DCC when it detects
    historic meter data requests from an organisation that has not yet registered
    as a Data User. These records are visible to Customers for transparency but
    cannot be used to authorise data release. When the organisation onboards as
    a Data User and registers a full access record for the same MPxN, the
    DISCOVERED record is superseded and transitions to `ACTIVE`.

    ## Authentication

    All endpoints except `GET /access-records/{ak}` require a bearer token from
    `GET /auth/token`. Tokens expire after 7200 seconds.

    ## Versioning

    URI-based versioning. Current version: `v1`.

  version: "0.0.13"
  contact:
    name: Auth Energy
    email: contact@auth.energy
    url: https://docs.auth.energy/consent
  license:
    name: Proprietary

servers:
  - url: "https://api.central.consent/v1"
    description: Production

tags:
  - name: Identity Records
    description: >
      Endpoints for Data Users to create and manage Identity Records, which hold
      the person-property relationship (MPxN, address, move-in date, identity
      verification evidence) separately from access records. Supports re-identification
      of returning customers via email magic link or WebAuthn passkey.
  - name: Authentication
    description: Obtain bearer tokens for authenticated endpoints.
  - name: Data Users
    description: >
      Endpoints for Data Users (Processors) to register and manage access records
      on behalf of their Controller customers.
  - name: Data Providers
    description: >
      Endpoints for Data Providers (EDPs) to verify access records and look up
      registered Data User organisations before releasing meter data. Includes
      access record verification via access key and Data User directory lookup
      by DUID, allowing EDPs to confirm both that a specific record is active
      and that the organisation behind it is in good standing.
  - name: DCC
    description: >
      Endpoints restricted to Smart DCC system credentials. Covers two
      responsibilities: (1) submitting discovered access records derived from
      historic meter transaction logs — sparse, read-only records that surface
      to customers for transparency but cannot authorise data release, superseded
      when the organisation registers as a Data User; and (2) submitting Change
      of Tenancy events, which trigger `tenancy.change` webhooks to all Data
      Users with active access records on the affected MPxN.
  - name: Customer Portal
    description: >
      The centralised Customer Consent Portal is a standalone web service at
      https://portal.central.consent. It has no API endpoints — Data Users link
      customers to the portal via a plain URL carrying `ir` or `mpxn` and an
      optional `return` parameter. The portal authenticates the customer directly
      using the re-identification mechanisms on their Identity Record (passkey,
      magic link, or supplier OAuth fallback). This tag documents the portal
      behaviour and the `consent.withdrawal` webhook it fires on revocation.
  - name: Webhooks
    description: >
      Endpoints for Controllers to register and manage webhook subscriptions.
      The register dispatches event payloads to registered callback URLs when
      consent records are approaching expiry or when a Change of Tenancy is
      recorded against an MPxN with active access records.

paths:

  # ---------------------------------------------------------------------------
  # Identity Records — person-property relationship and re-identification
  # ---------------------------------------------------------------------------

  /identity-records:
    get:
      operationId: lookupIdentityRecords
      summary: Look Up Identity Records
      description: |
        Returns Identity Records matching the supplied lookup parameters. Used by
        a Data User to locate an existing record for a returning customer before
        initiating re-identification.

        At least one of `mpxn` or `email` must be supplied. Supplying both narrows
        results to records where both values match.

        Results are scoped to the authenticated Data User — a Data User cannot
        look up records created by another Data User.

        **Note on email lookup:** The register stores a one-way hash of the email
        address for lookup purposes. The plaintext email is never returned in
        responses. A match confirms a record exists for that address; the Data User
        should already hold the email in their own system.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: mpxn
          in: query
          required: false
          description: Filter by meter point identifier.
          schema:
            $ref: "#/components/schemas/MPxN"
        - name: email
          in: query
          required: false
          description: >
            Filter by customer email address. Matched against a stored hash —
            the plaintext is not retained in results.
          schema:
            type: string
            format: email
      responses:
        "200":
          description: Matching identity records returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LookupIdentityRecordsResponse"
              example:
                response:
                  resource: /v1/identity-records?mpxn=1234567890123
                  timestamp: "2026-03-24T09:00:00Z"
                  transaction-id: tid_abc123def456abc123def456
                identity-records:
                  - ir: ir_a3c5e7f9b1d3a3c5e7f9b1d3
                    created-at: "2024-01-15T09:30:00Z"
                    pii-principal:
                      mpxn: "1234567890123"
                      move-in-date: "2022-06-30"
                    expressed-by: data-subject
                    has-email: true
                    credentials:
                      - credential-id: cred_1a2b3c4d5e6f1a2b3c4d5e6f
                        registered-at: "2024-01-15T09:35:00Z"
        "400":
          description: Neither `mpxn` nor `email` was supplied.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      operationId: createIdentityRecord
      summary: Create an Identity Record
      description: |
        Creates an Identity Record holding the person-property relationship for a
        consent or access registration. Returns an `ir` key that must be supplied
        as `record-metadata.identity-record-ref` when creating the linked AccessRecord.

        The Identity Record holds:
        - `pii-principal` — MPxN, move-in date, and optionally address.
        - `expressed-by` — whether the data subject or an authorised representative
          initiated the registration.
        - `principal-verification` — identity verification evidence (method, outcome,
          reference). Strongly recommended; null if no structured verification was performed.
        - `email` — stored as a one-way hash for future magic-link re-identification
          and lookup. Optional but required if magic-link re-identification is to be used.
        - `initiate-passkey-registration` — if `true`, the response includes a
          `passkey-registration-redirect` containing a short-lived URL to
          `id.central.consent`. Redirect the customer to this URL — the register
          completes the WebAuthn ceremony on its own origin, stores the public key,
          and redirects back with `?dar-passkey-token={token-ref}`. Call
          `GET /identity-records/{ir}/re-identify/{token-ref}` once to confirm.
          Supply `passkey-return-url` to control where the customer lands after
          the ceremony.

        Identity Records are scoped to the authenticated Data User and are never
        exposed to the unauthenticated `GET /access-records/{ak}` endpoint used by
        Data Providers.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CreateIdentityRecordRequest"
            examples:
              with-email-and-passkey:
                summary: With email and passkey registration initiated
                value:
                  pii-principal:
                    mpxn: "1234567890123"
                    move-in-date: "2022-06-30"
                    address:
                      addressLine1: "221B Baker Street"
                      townCity: "London"
                      postcode: "NW1 6XE"
                  expressed-by: data-subject
                  email: "customer@example.com"
                  initiate-passkey-registration: true
                  principal-verification:
                    method: "credit-card"
                    verified-at: "2023-11-07T05:30:45Z"
                    outcome: verified
                    reference: "ch_3ABC123xyz"
                    submitted: "XXXX-XXXX-XXXX-4242"
                    verified-against: "Stripe customer record cus_ABC123"
                    detail:
                      last4: "4242"
                      brand: "visa"
                      stripe_customer: "cus_ABC123"
              email-only:
                summary: With email, no passkey
                value:
                  pii-principal:
                    mpxn: "1234567890123"
                    move-in-date: "2020-01-01"
                  expressed-by: data-subject
                  email: "customer@example.com"
                  principal-verification: null
              minimal:
                summary: No re-identification credentials
                value:
                  pii-principal:
                    mpxn: "1234567890123"
                    move-in-date: "2020-01-01"
                  expressed-by: data-subject
                  principal-verification: null
      responses:
        "201":
          description: |
            Identity record created successfully. If `initiate-passkey-registration`
            was `true`, `passkey-registration-redirect` is populated — redirect the
            customer to `redirect-url`. The register completes the WebAuthn ceremony
            on `id.central.consent` and sends the customer back to `return-url` with
            `?dar-passkey-token={token-ref}`. Call
            `GET /identity-records/{ir}/re-identify/{token-ref}` once to confirm.
          headers:
            Location:
              description: URL of the newly created identity record.
              schema:
                type: string
                example: "/v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CreateIdentityRecordResponse"
              examples:
                with-passkey-redirect:
                  summary: Response when passkey registration was initiated
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3
                      timestamp: "2024-01-15T09:30:00Z"
                      transaction-id: tid_691df0c788ca043403b7fa90
                    ir: ir_a3c5e7f9b1d3a3c5e7f9b1d3
                    passkey-registration-redirect:
                      redirect-url: "https://id.central.consent/passkey/register?session=pks_a1b2c3d4e5f6a1b2c3d4e5f6"
                      token-ref: "mlr_9f8e7d6c5b4a9f8e7d6c5b4a"
                      expires-at: "2024-01-15T09:35:00Z"
                without-passkey-redirect:
                  summary: Response when no passkey registration requested
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3
                      timestamp: "2024-01-15T09:30:00Z"
                      transaction-id: tid_691df0c788ca043403b7fa90
                    ir: ir_a3c5e7f9b1d3a3c5e7f9b1d3
                    passkey-registration-redirect: null
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /identity-records/{ir}:
    get:
      operationId: getIdentityRecord
      summary: Retrieve an Identity Record
      description: |
        Returns the full Identity Record for a given `ir` key. Only accessible to
        the authenticated Data User that created the record.

        The `email` field is never returned in plaintext — `has-email` indicates
        whether an email address is registered on the record. The `credentials`
        array returns passkey metadata (credential ID, registered-at) but never
        the public key material itself.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: ir
          in: path
          description: The identity record key issued at creation.
          required: true
          schema:
            $ref: "#/components/schemas/IdentityRecordKey"
      responses:
        "200":
          description: Identity record found and returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetIdentityRecordResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      operationId: deleteIdentityRecord
      summary: Anonymise an Identity Record
      description: |
        Anonymises an Identity Record in response to a GDPR Art. 17 erasure
        request. The record is retained in a tombstoned state for audit continuity
        — the `ir` key remains valid and the linked AccessRecord continues to
        reference it — but all PII fields (`pii-principal`, `email`, `credentials`,
        and `principal-verification`) are permanently destroyed.

        **Pre-condition:** All AccessRecords linked to this Identity Record must be
        in `REVOKED` or `EXPIRED` state. Attempting to anonymise an Identity Record
        linked to an `ACTIVE` access record returns `409`.

        This operation is irreversible.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: ir
          in: path
          description: The identity record key to anonymise.
          required: true
          schema:
            $ref: "#/components/schemas/IdentityRecordKey"
      responses:
        "200":
          description: Identity record anonymised. All PII permanently destroyed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AnonymiseIdentityRecordResponse"
              example:
                response:
                  resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3
                  timestamp: "2026-03-24T10:00:00Z"
                  transaction-id: tid_abc123def456abc123def456
                ir: ir_a3c5e7f9b1d3a3c5e7f9b1d3
                anonymised-at: "2026-03-24T10:00:00Z"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >
            One or more linked AccessRecords are still `ACTIVE`. Revoke or allow
            all linked access records to expire before anonymising.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /identity-records/{ir}/credentials/{credentialId}:
    delete:
      operationId: removePasskeyCredential
      summary: Remove a Passkey Credential
      description: |
        Removes a registered passkey credential from an Identity Record. The
        credential can no longer be used for passkey assertion after removal.

        If no credentials remain on the record after removal, passkey-based
        re-identification is no longer available for this Identity Record.
        Magic-link re-identification remains available if an email address is
        registered.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: ir
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/IdentityRecordKey"
        - name: credentialId
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/CredentialId"
      responses:
        "204":
          description: Credential removed. No response body.
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /identity-records/{ir}/re-identify:
    post:
      operationId: reIdentify
      summary: Initiate Re-identification
      description: |
        Initiates or completes a re-identification flow for a returning customer,
        reconnecting them to their existing Identity Record without re-collecting
        all their details.

        **Three methods are supported:**

        **`magic-link`** — requires `email` to be stored on the Identity Record.
        The register dispatches a short-lived signed URL to the stored email address.
        The link expires after 15 minutes and is single-use.

        Supply an optional `redirect-url` (pre-registered for the Data User's DUID)
        to send the customer back to the Data User's application after clicking —
        the register appends `?dar-reid-token={token-ref}` so the application can
        confirm re-identification with a single call rather than polling.

        Without `redirect-url`, the customer lands on a confirmation page at
        `central.consent` and the Data User polls
        `GET /identity-records/{ir}/re-identify/{token-ref}` for confirmation.

        **`passkey-assert`** — requires at least one credential registered on the
        Identity Record. The register returns a WebAuthn assertion challenge. The
        Data User passes this to `navigator.credentials.get()`, then submits the
        signed assertion response back to this endpoint with `method: passkey-assert-complete`
        to verify and confirm re-identification.

        **`passkey-register`** — used when the customer has no existing passkey
        on the record (e.g. new device). Returns a WebAuthn registration challenge.
        The Data User completes the ceremony via `POST /identity-records/{ir}/credentials`
        to store the new public key, then the re-identification is confirmed.

        Re-identification does not modify the core Identity Record fields. It is a
        verification step confirming the returning individual is the same principal
        as originally recorded.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: ir
          in: path
          description: The identity record key for the returning principal.
          required: true
          schema:
            $ref: "#/components/schemas/IdentityRecordKey"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ReIdentifyRequest"
            examples:
              magic-link-with-redirect:
                summary: Magic-link with redirect back to Data User app
                value:
                  method: magic-link
                  redirect-url: "https://app.bright-energy.com/renew/confirmed"
              magic-link-portal:
                summary: Magic-link without redirect (customer lands on central.consent)
                value:
                  method: magic-link
              passkey-assert:
                summary: Initiate passkey assertion (existing credential)
                value:
                  method: passkey-assert
                  passkey-return-url: "https://app.bright-energy.com/renew/confirmed"
              passkey-register:
                summary: Initiate passkey registration (new device)
                value:
                  method: passkey-register
                  passkey-return-url: "https://app.bright-energy.com/onboard/passkey-done"
      responses:
        "200":
          description: |
            Re-identification flow initiated.

            - For `magic-link`: link dispatched, `magic-link` object populated.
            - For `passkey-assert` or `passkey-register`: `passkey` redirect object
              populated — redirect the customer to `passkey.redirect-url` immediately.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReIdentifyResponse"
              examples:
                magic-link-dispatched:
                  summary: Magic link dispatched (with redirect-url)
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3/re-identify
                      timestamp: "2026-03-24T09:00:00Z"
                      transaction-id: tid_abc123def456abc123def456
                    method: magic-link
                    magic-link:
                      dispatched-to: "c*****r@example.com"
                      expires-at: "2026-03-24T09:15:00Z"
                      token-ref: mlr_9f8e7d6c5b4a9f8e7d6c5b4a
                      redirect-url: "https://app.bright-energy.com/renew/confirmed"
                    passkey: null
                passkey-assert-redirect:
                  summary: Passkey assertion — redirect to id.central.consent
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3/re-identify
                      timestamp: "2026-03-24T09:00:00Z"
                      transaction-id: tid_abc123def456abc123def456
                    method: passkey-assert
                    magic-link: null
                    passkey:
                      redirect-url: "https://id.central.consent/passkey/assert?session=pks_a1b2c3d4e5f6a1b2c3d4e5f6"
                      token-ref: mlr_1a2b3c4d5e6f1a2b3c4d5e6f
                      expires-at: "2026-03-24T09:05:00Z"
                      return-url: "https://app.bright-energy.com/renew/confirmed"
        "400":
          description: >
            Invalid method, missing required fields, challenge expired or already
            used, or assertion response failed verification.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >
            The Identity Record has been anonymised and cannot be used for
            re-identification.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "422":
          description: >
            `magic-link` requested but no email address is stored on this
            Identity Record. `passkey-assert` requested but no credentials
            are registered.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /identity-records/{ir}/re-identify/{tokenRef}:
    get:
      operationId: pollReIdentifyStatus
      summary: Confirm Re-identification Status
      description: |
        Confirms the status of a magic-link or passkey re-identification flow.
        The `token-ref` is returned in the `magic-link` or `passkey` object from
        `POST /identity-records/{ir}/re-identify`, and also appended as a query
        parameter when the register redirects the customer back to the Data User's
        application.

        **With a `redirect-url` or `passkey-return-url`** — the register appends
        `?dar-reid-token={token-ref}` (magic link) or `?dar-passkey-token={token-ref}`
        (passkey) to the return URL. Read the token from the query string and call
        this endpoint **once** — no polling required.

        **Without a return URL** — poll this endpoint until `status` is `confirmed`
        or `expired`.

        **Suggested polling interval:** every 3–5 seconds. Stop polling on
        `confirmed`, `expired`, or after 20 minutes.
      tags:
        - Identity Records
      security:
        - bearerAuth: []
      parameters:
        - name: ir
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/IdentityRecordKey"
        - name: tokenRef
          in: path
          required: true
          description: The `token-ref` returned by the magic-link initiation call.
          schema:
            type: string
            pattern: "^mlr_[0-9a-f]{24}$"
            example: "mlr_9f8e7d6c5b4a9f8e7d6c5b4a"
      responses:
        "200":
          description: Status returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ReIdentifyStatusResponse"
              examples:
                pending:
                  summary: Awaiting customer redemption
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3/re-identify/mlr_9f8e7d6c5b4a9f8e7d6c5b4a
                      timestamp: "2026-03-24T09:05:00Z"
                      transaction-id: tid_aabbccddeeff001122334455
                    status: pending
                    confirmed-at: null
                confirmed:
                  summary: Customer redeemed the link
                  value:
                    response:
                      resource: /v1/identity-records/ir_a3c5e7f9b1d3a3c5e7f9b1d3/re-identify/mlr_9f8e7d6c5b4a9f8e7d6c5b4a
                      timestamp: "2026-03-24T09:07:30Z"
                      transaction-id: tid_112233445566778899aabbcc
                    status: confirmed
                    confirmed-at: "2026-03-24T09:07:28Z"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /auth/token:
    get:
      operationId: getAuthToken
      summary: Obtain Bearer Token
      description: |
        Exchange Basic Auth credentials for a short-lived JWT bearer token.
        Cache and reuse until expiry. Credentials Base64-encoded as `account_id:secret_key`.
      tags:
        - Authentication
      security:
        - basicAuth: []
      responses:
        "200":
          description: Token issued successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/AuthToken"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /access-records:
    post:
      operationId: createAccessRecord
      summary: Create an Access Record
      description: |
        Registers a new access record on behalf of a Controller. Returns `201` and
        an `access-token` containing the new access key (`ak`), plus a `Location`
        header pointing to the created resource.

        All records use the same `AccessRecord` schema. The `processing.legal-basis`
        value determines which additional fields are expected:

        - **Consent bases** — populate `notice` and `access-event.consent`.
        - **Legitimate interests** — populate `lia-reference` on the lead controller
          entry; set `notice` and `access-event.consent` to null.
        - **Public task / legal obligation** — populate `statutory-reference` on the
          lead controller entry; set `notice` and `access-event.consent` to null.
        - **Contract** — set `notice` and `access-event.consent` to null.

        Historic records may be submitted — `access-event.registered-at` may predate
        `record-metadata.created-at`.

        If the DCC has previously submitted a `DISCOVERED` record for the same MPxN
        and organisation, the register will link the two records on creation. The
        DISCOVERED record is retained for audit; the new full record becomes `ACTIVE`.

        To update an existing record use `PUT /access-records/{ak}`.
      tags:
        - Data Users
      security:
        - bearerAuth: []
      requestBody:
        description: An AccessRecord. All legal bases use this same schema.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessRecord"
            examples:
              consent:
                summary: Consent-based access — sole controller
                value:
                  record-metadata:
                    schema-version: "1.0"
                    controller-arrangement:
                      arrangement-type: sole
                      controllers:
                        - name: "Bright Energy Ltd"
                          role: sole
                          contact-url: "https://bright-energy.com/contact"
                          address:
                            addressLine1: "10 Canary Wharf"
                            townCity: "London"
                            postcode: "E14 5AB"
                          privacy-rights-url: "https://bright-energy.com/your-rights"
                    identity-record-ref: "ir_a3c5e7f9b1d3a3c5e7f9b1d3"
                  notice:
                    shared-notice:
                      terms-url: "https://bright-energy.com/privacy-v3.html"
                      notice-version: "v3.2"
                      notice-language: "en"
                  processing:
                    legal-basis: "uk-consent"
                    purpose: "Energy efficiency analysis and tariff recommendations"
                    data-types:
                      - HH-CONSUMPTION
                      - HH-EXPORT
                  access-event:
                    state: ACTIVE
                    registered-at: "2023-11-07T05:31:56Z"
                    expiry: "2027-11-10T17:07:01.580Z"
                    controller-reference: "REF-00123"
                    consent:
                      consent-type: expressed-consent
                      method: "Explicit web checkbox"
              consent-joint:
                summary: Consent-based access — joint controllers (Art. 26)
                value:
                  record-metadata:
                    schema-version: "1.0"
                    controller-arrangement:
                      arrangement-type: joint
                      art26-reference: "JCA-2024-BrightGrid-001"
                      controllers:
                        - name: "Bright Energy Ltd"
                          role: lead
                          contact-url: "https://bright-energy.com/contact"
                          address:
                            addressLine1: "10 Canary Wharf"
                            townCity: "London"
                            postcode: "E14 5AB"
                          privacy-rights-url: "https://bright-energy.com/your-rights"
                        - name: "Grid Analytics Ltd"
                          role: joint
                          contact-url: "https://gridanalytics.com/contact"
                          privacy-rights-url: "https://gridanalytics.com/your-rights"
                          lia-reference: "LIA-2024-003"
                    identity-record-ref: "ir_a3c5e7f9b1d3a3c5e7f9b1d3"
                  notice:
                    notices:
                      - controller-name: "Bright Energy Ltd"
                        terms-url: "https://bright-energy.com/privacy-v3.html"
                        notice-version: "v3.2"
                        notice-language: "en"
                      - controller-name: "Grid Analytics Ltd"
                        terms-url: "https://gridanalytics.com/privacy-v2.html"
                        notice-version: "v2.0"
                        notice-language: "en"
                  processing:
                    legal-basis: "uk-consent"
                    purpose: "Energy efficiency analysis and demand forecasting"
                    data-types:
                      - HH-CONSUMPTION
                      - HH-EXPORT
                  access-event:
                    state: ACTIVE
                    registered-at: "2024-03-01T09:00:00Z"
                    expiry: "2027-03-01T00:00:00Z"
                    controller-reference: "REF-00456"
                    consent:
                      consent-type: expressed-consent
                      method: "Explicit web checkbox"
              consent-group:
                summary: Consent-based access — group (trading names)
                value:
                  record-metadata:
                    schema-version: "1.0"
                    controller-arrangement:
                      arrangement-type: group
                      controllers:
                        - name: "Bright Energy Group plc"
                          role: lead
                          contact-url: "https://bright-energy.com/contact"
                          privacy-rights-url: "https://bright-energy.com/your-rights"
                        - name: "Bright Energy Home Services"
                          role: member
                          contact-url: "https://bright-energy.com/home/contact"
                        - name: "Bright Energy Smart"
                          role: member
                          contact-url: "https://bright-energy.com/smart/contact"
                    identity-record-ref: "ir_a3c5e7f9b1d3a3c5e7f9b1d3"
                  notice:
                    shared-notice:
                      terms-url: "https://bright-energy.com/group-privacy-v1.html"
                      notice-version: "grp-v1.0"
                      notice-language: "en"
                  processing:
                    legal-basis: "uk-consent"
                    purpose: "Energy efficiency analysis and tariff recommendations"
                    data-types:
                      - HH-CONSUMPTION
                  access-event:
                    state: ACTIVE
                    registered-at: "2024-06-01T10:00:00Z"
                    expiry: "2028-06-01T00:00:00Z"
                    controller-reference: "REF-GRP-001"
                    consent:
                      consent-type: expressed-consent
                      method: "Explicit web checkbox"
              legitimate-interests:
                summary: Legitimate interests access
                value:
                  record-metadata:
                    schema-version: "1.0"
                    controller-arrangement:
                      arrangement-type: sole
                      controllers:
                        - name: "Grid Analytics Ltd"
                          role: sole
                          contact-url: "https://gridanalytics.com/contact"
                          address:
                            addressLine1: "5 Tech Park"
                            townCity: "Manchester"
                            postcode: "M1 2AB"
                          privacy-rights-url: "https://gridanalytics.com/your-rights"
                          lia-reference: "LIA-2024-003"
                    identity-record-ref: "ir_b4d6f8a0c2e4b4d6f8a0c2e4"
                  notice: null
                  processing:
                    legal-basis: "uk-legitimate-interests"
                    purpose: "Network load balancing and demand forecasting"
                    data-types:
                      - HH-CONSUMPTION
                  access-event:
                    state: ACTIVE
                    registered-at: "2024-03-01T09:00:00Z"
                    expiry: "2026-03-01T00:00:00Z"
                    controller-reference: "CONTRACT-9981"
                    consent: null
              public-task:
                summary: Public task access (regulated/statutory body)
                value:
                  record-metadata:
                    schema-version: "1.0"
                    controller-arrangement:
                      arrangement-type: sole
                      controllers:
                        - name: "Northern Networks plc"
                          role: sole
                          contact-url: "https://northernnetworks.co.uk/contact"
                          address:
                            addressLine1: "1 Grid House"
                            townCity: "Leeds"
                            postcode: "LS1 1AA"
                          privacy-rights-url: "https://northernnetworks.co.uk/your-rights"
                          statutory-reference: "Energy Act 2023, s.147"
                    identity-record-ref: "ir_c5e7a9b1d3f5c5e7a9b1d3f5"
                  notice: null
                  processing:
                    legal-basis: "uk-public-task"
                    purpose: "Statutory network safety and capacity monitoring"
                    data-types:
                      - HH-CONSUMPTION
                      - HH-EXPORT
                  access-event:
                    state: ACTIVE
                    registered-at: "2024-01-15T00:00:00Z"
                    expiry: null
                    controller-reference: "OFGEM-AUTH-2024-0042"
                    consent: null
      responses:
        "201":
          description: Access record created successfully.
          headers:
            Location:
              description: URL of the newly created access record.
              schema:
                type: string
                example: "/v1/access-records/ak_691df0c788ca043403b7fa90"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterAccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /access-records/{ak}:
    get:
      operationId: verifyAccess
      summary: Verify Access Record
      description: |
        Returns the full access record for a given access key. Called by Data Providers
        before releasing meter data.

        **Authentication:** Unauthenticated by design. The access key acts as the
        credential; treat it as a secret.

        **Note on PII:** This endpoint returns no PII. The person-property relationship
        (MPxN, address, move-in date, identity verification) is held in the linked
        Identity Record, which is accessible only to authenticated Data Users via
        `GET /identity-records/{ir}`. The `identity-record-ref` in `record-metadata`
        provides the link.

        **Verification checklist (all record types):**
        1. `access-event.state` must be `ACTIVE`.
        2. `access-event.expiry` must be in the future, or null.
        3. At least one controller in `record-metadata.controller-arrangement.controllers`
           must match the organisation you have a verified commercial relationship with
           on your platform. For `joint` arrangements, verify against the `lead` entry.
        4. The data types being requested must be within `processing.data-types`.
        5. Log `response.transaction-id` for your audit trail.

        **Additional checks by legal basis:**
        - Consent records: confirm `access-event.consent.consent-type` is appropriate
          for the data category being released.
        - Legitimate interests: confirm `lia-reference` is present on the lead
          controller entry in `record-metadata.controller-arrangement`.
        - Public task / legal obligation: confirm `statutory-reference` is present
          on the lead controller entry in `record-metadata.controller-arrangement`.
      tags:
        - Data Providers
      parameters:
        - name: ak
          in: path
          description: The access key issued at registration.
          required: true
          schema:
            $ref: "#/components/schemas/AccessKey"
      responses:
        "200":
          description: Access record found and returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/VerifyAccessResponse"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    put:
      operationId: replaceAccessRecord
      summary: Replace an Access Record
      description: |
        Replaces the full payload of an existing access record. The record identified
        by `ak` must have been registered by the authenticated Data User.

        This is a full replacement — the entire `AccessRecord` body must be supplied.
        The `ak`, `duid`, `created-at`, and `record-metadata.record-identifier` are
        preserved from the original; all other fields are replaced with the submitted
        payload.

        Use this to:
        - Refresh a consent record when the customer renews (e.g. update `expiry`
          or `notice-version`). To update identity verification evidence, update
          the linked Identity Record via `POST /identity-records` and update
          `record-metadata.identity-record-ref` to the new `ir` key.
        - Correct an error in a submitted record
        - Update `processing.purpose` or `data-types` after a scope change

        **State constraint:** Only `ACTIVE` records may be replaced. Attempting to
        replace a `REVOKED` or `EXPIRED` record returns `409`.
      tags:
        - Data Users
      security:
        - bearerAuth: []
      parameters:
        - name: ak
          in: path
          description: The access key of the record to replace.
          required: true
          schema:
            $ref: "#/components/schemas/AccessKey"
      requestBody:
        description: Full AccessRecord replacement payload.
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AccessRecord"
      responses:
        "200":
          description: Access record replaced successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterAccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: >
            Record is not in `ACTIVE` state and cannot be replaced.
            `REVOKED` and `EXPIRED` records are immutable.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      operationId: revokeAccess
      summary: Revoke Access Record
      description: |
        Revokes an access record. Transitions the record to `REVOKED` state with a
        `revoked-at` timestamp. Records are retained for audit — not deleted.

        For consent records this represents customer withdrawal of consent.
        For non-consent records this represents the Controller removing their
        access registration (e.g. LIA no longer applicable, contract ended,
        statutory authority lapsed).

        After revocation `GET /access-records/{ak}` returns the record in `REVOKED`
        state. Data Providers must deny access for any non-`ACTIVE` record.
      tags:
        - Data Users
      security:
        - bearerAuth: []
      parameters:
        - name: ak
          in: path
          description: The access key to revoke.
          required: true
          schema:
            $ref: "#/components/schemas/AccessKey"
      responses:
        "200":
          description: Access record revoked. Record retained in REVOKED state.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RevokeAccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /meter-points/{mpxn}/access-records:
    get:
      operationId: listAccessRecords
      summary: List Access Records for a Meter Point
      description: |
        <Warning>Could be fully disabled if [Central Portal](/dar/customer-portal) is prefered mechanism</Warning>

        Returns access records associated with a given MPxN, registered by the
        authenticated Data User. Covers all legal bases and all lifecycle states
        unless filtered. Supports customer transparency — customers may request
        this list via any Controller to see who holds registered access to their
        meter point data.

        `DISCOVERED` records submitted by the DCC are also returned in this
        response, allowing customers to see organisations known to have accessed
        their meter data historically that have not yet registered as Data Users.
        DISCOVERED records are clearly distinguished by their `state` field and
        contain only the sparse `discovered-access` object rather than a full
        access record.
      tags:
        - Data Users
      security:
        - bearerAuth: []
      parameters:
        - name: mpxn
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/MPxN"
        - name: state
          in: query
          description: Filter by record lifecycle state. Omit to return all states.
          required: false
          schema:
            $ref: "#/components/schemas/AccessState"
        - name: legal-basis
          in: query
          description: Filter by legal basis. Omit to return all bases.
          required: false
          schema:
            $ref: "#/components/schemas/LegalBasis"
      responses:
        "200":
          description: Access record list returned successfully.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListAccessRecordsResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # DCC: Discovered access records
  # ---------------------------------------------------------------------------

  /discovered-access:
    post:
      operationId: submitDiscoveredAccess
      summary: Submit a Discovered Access Record
      description: |
        Submits a sparse, system-generated access record derived from DCC
        historic meter transaction logs. Used when the DCC detects that an
        organisation has been making data requests against a meter point but has
        not yet registered as a Data User in the DAR.

        Discovered records are distinct from full access records in two important
        ways:

        1. **Read-only for authorisation** — a `DISCOVERED` record cannot be
           used by a Data Provider to authorise data release. `GET /access-records/{ak}`
           will return the record but with `access-event.state` set to `DISCOVERED`;
           Data Providers must treat this as a denial.

        2. **Consumer transparency** — `DISCOVERED` records appear in
           `GET /meter-points/{mpxn}/access-records` responses so customers can
           see all parties known to have accessed their data, regardless of whether
           those parties have formalised their registration.

        When the organisation subsequently onboards as a Data User and submits a
        full access record via `POST /access-records` for the same MPxN and
        organisation, the register links the two records. The DISCOVERED record
        is retained for audit; the new full record becomes `ACTIVE`.

        **Authentication:** Restricted to DCC system credentials. Standard Data
        User bearer tokens are rejected on this endpoint.

        **Sparse schema:** Only the fields defined in `DiscoveredAccessRecord`
        are accepted. The full `AccessRecord` schema is not used here — `notice`,
        `access-event.consent`, and controller-level compliance fields are not
        applicable and must not be supplied.
      tags:
        - DCC
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/DiscoveredAccessRecord"
            example:
              mpxn: "1234567890123"
              organisation-name: "Acme Energy Services Ltd"
              organisation-reference: "org_abc123def456"
              first-seen: "2024-06-01"
              last-seen: "2026-02-28"
              data-types-observed:
                - HH-CONSUMPTION
              source-reference: "DCC-TX-LOG-2026-03-001"
      responses:
        "201":
          description: Discovered access record created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitDiscoveredAccessResponse"
        "200":
          description: >
            Existing discovered access record updated (same mpxn and
            organisation-reference already present).
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SubmitDiscoveredAccessResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          description: >
            Caller does not hold DCC system credentials. This endpoint is not
            accessible to standard Data User bearer tokens.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # DCC: Change of Tenancy events
  # ---------------------------------------------------------------------------

  /cot-events:
    post:
      operationId: submitCotEvent
      summary: Submit a Change of Tenancy Event
      description: |
        Records a Change of Tenancy (CoT) against an MPxN and triggers
        `tenancy.change` webhooks to all Data Users with one or more `ACTIVE`
        access records on that MPxN.

        **Authentication:** Restricted to DCC system credentials. Standard Data
        User bearer tokens are rejected on this endpoint with `403`.

        **What the register does on receipt:**
        1. Records the CoT event for audit with the MPxN, effective date, and
           DCC source reference.
        2. Identifies all `ACTIVE` access records for the MPxN across all
           registered Data Users.
        3. Fires a `tenancy.change` webhook to each affected Data User,
           including the `affected-aks` array so Data Users can perform targeted
           revocations without a separate list query.
        4. Returns a summary of Data Users notified and records affected.

        **What the register does NOT do:**
        Automatically revoke access records. Revocation is the Controller's
        responsibility on receipt of the webhook. CoT events from the DCC can
        occasionally be false alerts; Controllers should verify before revoking
        records with non-occupancy legal bases (e.g. `uk-public-task`,
        `uk-legitimate-interests`).

        **Idempotency:** Submitting the same `mpxn` + `effective-date` +
        `source-reference` returns `200` and does not re-fire webhooks.

        **PII:** The payload contains only the MPxN and the effective date. No
        new occupant name, address, or contact details are included.
      tags:
        - DCC
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CotEventRequest"
            example:
              mpxn: "1234567890123"
              effective-date: "2026-04-01"
              source-reference: "MPAS-COT-2026-03-00142"
      responses:
        "201":
          description: >
            CoT event recorded and `tenancy.change` webhooks dispatched to all
            affected Data Users.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CotEventResponse"
              example:
                response:
                  resource: /v1/cot-events
                  timestamp: "2026-03-20T09:15:00Z"
                  transaction-id: tid_9f8e7d6c5b4a9f8e7d6c5b4a
                mpxn: "1234567890123"
                effective-date: "2026-04-01"
                source-reference: "MPAS-COT-2026-03-00142"
                active-records-affected: 2
                data-users-notified:
                  - duid_691df0c788ca043403b7fa90
                  - duid_aabbcc112233445566778899
        "200":
          description: >
            Duplicate event — same `mpxn`, `effective-date`, and `source-reference`
            already recorded. No webhooks re-fired.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/CotEventResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          description: >
            Caller does not hold DCC system credentials. This endpoint is not
            accessible to standard Data User bearer tokens.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # Data Providers: DUID directory lookup (merged into Data Providers tag)
  # ---------------------------------------------------------------------------

  /data-users/{duid}:
    get:
      operationId: getDataUser
      summary: Look Up a Data User by DUID
      description: |
        Returns profile and status information for a registered Data User
        organisation identified by DUID.

        **Intended caller: Data Providers.**

        When a Data Provider calls `GET /access-records/{ak}` to verify an
        access record, the response includes a `duid` identifying the organisation
        that registered the record. Without this endpoint, the Data Provider has
        no independent means to confirm that the `duid` belongs to an active,
        known organisation — they can only rely on their own bilateral
        onboarding records.

        This endpoint closes that gap by providing a central directory lookup.
        Data Providers **should** call this endpoint as part of first-time
        onboarding of a new DUID encountered in a verification response, and
        **may** call it periodically to detect status changes (e.g. suspension).

        **Authentication:** Bearer token required. Data Providers must obtain
        a token via `GET /auth/token` using their own `account_id:secret_key`
        credentials, which are provisioned separately from Data User credentials.

        **Note on DUID mapping:** The register intentionally does not map DUIDs
        to Data Provider platform account IDs — that linkage is the Data
        Provider's responsibility, as stated in the `GET /access-records/{ak}`
        verification checklist. This endpoint supplies the canonical
        human-readable identity (name, status, contact) for the DUID so the
        Data Provider can confirm the mapping is correct on their side.
      tags:
        - Data Providers
      security:
        - bearerAuth: []
      parameters:
        - name: duid
          in: path
          required: true
          description: >
            The Data User identifier to look up. Format: `duid_` followed by
            24 lowercase hex characters.
          schema:
            $ref: "#/components/schemas/DataUserId"
      responses:
        "200":
          description: Data User found and returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/GetDataUserResponse"
              example:
                response:
                  resource: /v1/data-users/duid_691df0c788ca043403b7fa90
                  timestamp: "2026-03-18T10:00:00Z"
                  transaction-id: tid_abc123def456abc123def456
                data-user:
                  duid: duid_691df0c788ca043403b7fa90
                  display-name: "Bright Energy Services Ltd"
                  status: active
                  registered-at: "2024-01-15T09:00:00Z"
                  contact-url: "https://bright-energy.com/contact"
                  data-types-supported:
                    - HH-CONSUMPTION
                    - HH-EXPORT
                    - TARIFF-IMPORT
        "401":
          $ref: "#/components/responses/Unauthorised"
        "404":
          description: >
            No Data User with the supplied DUID exists in the register.
            Data Providers receiving an unknown DUID in a verification response
            should treat this as a signal to deny data release and raise a
            support query.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  # ---------------------------------------------------------------------------
  # NEW: Webhook registration — Controllers subscribe to lifecycle events
  # ---------------------------------------------------------------------------

  /webhooks:
    get:
      operationId: listWebhooks
      summary: List Webhook Subscriptions
      description: |
        Returns all active webhook subscriptions registered by the authenticated
        Data User.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      responses:
        "200":
          description: Webhook list returned.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ListWebhooksResponse"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "500":
          $ref: "#/components/responses/InternalServerError"

    post:
      operationId: registerWebhook
      summary: Register a Webhook Subscription
      description: |
        Registers an HTTPS callback URL to receive lifecycle event notifications
        dispatched by the register.

        **Two event types** are delivered to the same callback URL, distinguished
        by the `event-type` field in the payload envelope:

        - `consent.expiring` — fired when a consent-based access record is within
          the `notify-days-before` window of its `access-event.expiry` date. Allows
          Controllers to prompt the customer to renew before their access lapses.
          Only fired for records where `access-event.expiry` is non-null and
          `access-event.state` is `ACTIVE`.

        - `tenancy.change` — fired when the register receives notification that a
          Change of Tenancy has been recorded against an MPxN that has one or more
          `ACTIVE` access records. Controllers should use this to halt data
          collection for the departing occupant and, if appropriate, initiate a
          fresh consent or access registration for the new occupant. The event
          carries only the MPxN and the effective date of the change — no new
          occupant PII is included.

        **Delivery semantics:**
        - The register performs an HTTPS POST to the `callback-url` with the event
          payload as the request body.
        - The callback endpoint must respond with HTTP `2xx` within 10 seconds.
        - On failure the register retries with exponential backoff: 1 min, 5 min,
          30 min, 2 hr, 24 hr. After 5 failed attempts the event is marked
          `undelivered` and the Data User is notified via the registered
          `alert-email`.
        - The register signs each delivery with an HMAC-SHA256 signature over the
          raw request body, using the `signing-secret` returned at registration.
          The signature is passed in the `X-DAR-Signature` header as
          `sha256=<hex-digest>`. Receivers must verify this before processing.

        **Filtering:** By default, subscriptions receive all event types for all
        access records registered under the authenticated Data User. Supply
        `event-types` to restrict to a specific subset.

        **Idempotency:** Registering a second subscription with the same
        `callback-url` returns `409 Conflict`. Update an existing subscription
        using `PATCH /webhooks/{wid}`.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookRegistrationRequest"
            example:
              callback-url: "https://app.bright-energy.com/webhooks/dar"
              alert-email: "platform-ops@bright-energy.com"
              notify-days-before: 30
              event-types:
                - consent.expiring
                - tenancy.change
      responses:
        "201":
          description: Webhook subscription created.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterWebhookResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "409":
          description: >
            A subscription with the supplied `callback-url` already exists for
            this Data User. Use `PATCH /webhooks/{wid}` to update it.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "500":
          $ref: "#/components/responses/InternalServerError"

  /webhooks/{wid}:
    patch:
      operationId: updateWebhook
      summary: Update a Webhook Subscription
      description: |
        Updates an existing webhook subscription. Only fields supplied in the
        request body are modified; omitted fields retain their current values.

        To rotate the signing secret, supply `"rotate-secret": true`. A new
        `signing-secret` is returned in the response. The old secret remains
        valid for 15 minutes to allow in-flight deliveries to complete.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: wid
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/WebhookId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/WebhookUpdateRequest"
      responses:
        "200":
          description: Webhook subscription updated.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/RegisterWebhookResponse"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

    delete:
      operationId: deleteWebhook
      summary: Delete a Webhook Subscription
      description: |
        Permanently removes a webhook subscription. In-flight deliveries
        already queued at the time of deletion will still be attempted.
      tags:
        - Webhooks
      security:
        - bearerAuth: []
      parameters:
        - name: wid
          in: path
          required: true
          schema:
            $ref: "#/components/schemas/WebhookId"
      responses:
        "204":
          description: Webhook subscription deleted. No response body.
        "401":
          $ref: "#/components/responses/Unauthorised"
        "403":
          $ref: "#/components/responses/Forbidden"
        "404":
          $ref: "#/components/responses/NotFound"
        "500":
          $ref: "#/components/responses/InternalServerError"

components:
  securitySchemes:
    basicAuth:
      type: http
      scheme: basic
      description: Base64-encode `account_id:secret_key`. Used only on `GET /auth/token`.
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "JWT from `GET /auth/token`. Pass as `Authorization: Bearer <token>`. Expires after 7200s."

  responses:
    BadRequest:
      description: The request was malformed or failed validation.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorised:
      description: Missing or invalid bearer token.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Forbidden:
      description: Authenticated caller lacks permission for this action.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: The requested resource does not exist.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    InternalServerError:
      description: An unexpected server-side error occurred.
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

  schemas:
    # -------------------------------------------------------------------------
    # Primitive / shared types
    # -------------------------------------------------------------------------

    MPxN:
      type: string
      pattern: "^(?:[0-9A-HJ-NPR-Z]{2}[0-9]{8,10}|[0-9]{10})$"
      description: Meter Point Administration Number (MPAN) or Meter Point Reference Number (MPRN).
      example: "1234567890123"

    AccessKey:
      type: string
      pattern: "^ak_[0-9a-f]{24}$"
      description: >
        Unique opaque identifier for an access record, issued by the register on
        creation. Treat as a secret — possession enables access verification.
      example: "ak_691df0c788ca043403b7fa90"

    IdentityRecordKey:
      type: string
      pattern: "^ir_[0-9a-f]{24}$"
      description: >
        Unique opaque identifier for an Identity Record, issued by the register on
        creation. Referenced from `record-metadata.identity-record-ref` on an
        AccessRecord to link the two resources.
      example: "ir_a3c5e7f9b1d3a3c5e7f9b1d3"

    DataType:
      type: array
      minItems: 1
      description: One or more energy data categories covered by this access record.
      items:
        type: string
        enum:
          - HH-CONSUMPTION
          - HH-EXPORT
          - MTH-CONSUMPTION
          - MTH-EXPORT
          - ANNUAL-CONSUMPTION
          - ANNUAL-EXPORT
          - TARIFF-IMPORT
          - TARIFF-EXPORT

    AccessState:
      type: string
      description: |
        Lifecycle state of the access record.

        - `ACTIVE` — access is registered and in force.
        - `EXPIRED` — the record's `expiry` has passed.
        - `REVOKED` — the Controller has removed their registration, or the customer
          has withdrawn consent. Retained for audit with `access-event.revoked-at` set.
        - `DISCOVERED` — a sparse record created by the DCC from historic meter
          transaction logs. The organisation has not yet registered as a Data User.
          Visible to customers for transparency but cannot authorise data release.
          Transitions to superseded when the organisation registers a full record.
      enum:
        - ACTIVE
        - EXPIRED
        - REVOKED
        - DISCOVERED

    LegalBasis:
      type: string
      description: |
        The legal basis under which the Controller accesses customer data.

        **Consent bases** — `notice` and `access-event.consent` must be populated.

        | Value | Plain name | Article |
        |---|---|---|
        | `uk-consent` | UK Consent | UK GDPR Art. 6(1)(a) |
        | `uk-explicit-consent` | UK Explicit Consent | UK GDPR Art. 9(2)(a) |

        **Non-consent bases** — `notice` and `access-event.consent` must be null.

        | Value | Plain name | Article | Supporting field (on lead controller) |
        |---|---|---|---|
        | `uk-legitimate-interests` | UK Legitimate Interests | UK GDPR Art. 6(1)(f) | `lia-reference` |
        | `uk-public-task` | UK Public Task | UK GDPR Art. 6(1)(e) | `statutory-reference` |
        | `uk-legal-obligation` | UK Legal Obligation | UK GDPR Art. 6(1)(c) | `statutory-reference` |
        | `uk-contract` | UK Contract | UK GDPR Art. 6(1)(b) | — |
      enum:
        - uk-consent
        - uk-explicit-consent
        - uk-legitimate-interests
        - uk-public-task
        - uk-legal-obligation
        - uk-contract
      example: "uk-consent"

    ConsentType:
      type: string
      description: |
        Legal type of consent expressed. Only applicable when `legal-basis` is a
        consent value.

        - `expressed-consent` — actively and unambiguously expressed (e.g. checkbox).
          Sufficient for standard personal data under Art. 6(1)(a).
        - `explicit-consent` — explicit and specific. Required for special category
          data under Art. 9(2)(a), or where the Controller's process mandates it.
      enum:
        - expressed-consent
        - explicit-consent

    ExpressionByEntity:
      type: string
      description: |
        Who expressed consent. Only applicable when `legal-basis` is a consent value.

        - `data-subject` — the customer themselves.
        - `authorised-representative` — a third party acting on the customer's behalf
          (e.g. a landlord or property manager acting for a tenant).
      enum:
        - data-subject
        - authorised-representative

    UKAddress:
      type: object
      properties:
        addressLine1:
          type: string
          maxLength: 100
          example: "221B Baker Street"
        addressLine2:
          type: string
          maxLength: 100
          nullable: true
          example: "Marylebone"
        townCity:
          type: string
          maxLength: 100
          example: "London"
        county:
          type: string
          maxLength: 100
          nullable: true
          example: "Greater London"
        postcode:
          type: string
          pattern: "^[A-Z]{1,2}[0-9][0-9A-Z]? ?[0-9][A-Z]{2}$"
          example: "NW1 6XE"
      required:
        - addressLine1
        - townCity
        - postcode

    # -------------------------------------------------------------------------
    # ISO 27560 Section 1: Record Metadata
    # -------------------------------------------------------------------------

    ControllerArrangementType:
      type: string
      description: |
        The nature of the controller arrangement for this access record.

        - `sole` — a single Data Controller bears full GDPR accountability.
        - `joint` — two or more legally distinct Data Controllers jointly determine
          the purposes and means of processing under UK GDPR Art. 26. An
          `art26-reference` pointing to their inter-controller arrangement must
          be supplied. Each controller holds individual accountability.
        - `group` — one accountable lead controller plus one or more trading names
          or subsidiaries listed purely for customer transparency, so customers
          recognise the brands accessing their data. The lead bears all GDPR
          accountability; members inherit it. No Art. 26 arrangement required.
      enum:
        - sole
        - joint
        - group

    ControllerRole:
      type: string
      description: |
        Role of this controller entry within the arrangement.

        - `sole` — the only controller. Only valid when `arrangement-type` is `sole`.
        - `lead` — the primary accountable controller. Required in `joint` and `group`
          arrangements; exactly one entry must carry this role.
        - `joint` — a co-controller sharing Art. 26 accountability. Only valid when
          `arrangement-type` is `joint`.
        - `member` — a trading name or subsidiary listed for customer transparency.
          Only valid when `arrangement-type` is `group`. Inherits accountability
          from the lead.
      enum:
        - sole
        - lead
        - joint
        - member

    Controller:
      type: object
      description: >
        A single controller entry within a `ControllerArrangement`. The `role` field
        determines its position in the arrangement. Per-controller compliance fields
        (`privacy-rights-url`, `lia-reference`, `statutory-reference`,
        `storage-conditions`) are required on `sole` and `lead` entries; optional
        on `joint` entries (where each controller should hold their own); and omitted
        on `member` entries (which inherit from the lead).
      properties:
        name:
          type: string
          maxLength: 255
          description: Trading name of the Controller organisation.
          example: "Bright Energy Ltd"
        role:
          $ref: "#/components/schemas/ControllerRole"
        contact-url:
          type: string
          format: uri
          description: URL of the Controller's customer-facing contact or privacy page.
          example: "https://bright-energy.com/contact"
        address:
          $ref: "#/components/schemas/UKAddress"
        privacy-rights-url:
          type: string
          format: uri
          description: >
            URL of this Controller's data subject rights page. Required by GDPR
            Art. 13(2)(b)/(c). Required on `sole` and `lead` entries. Optional
            on `joint` entries (where each controller should supply their own).
            Omitted on `member` entries — customers are directed to the lead's URL.
          example: "https://bright-energy.com/your-rights"
        lia-reference:
          type: string
          maxLength: 255
          nullable: true
          description: >
            Reference to this Controller's Legitimate Interests Assessment.
            Expected on `sole` and `lead` entries when `legal-basis` is
            `uk-legitimate-interests`. Each joint controller should supply their own.
          example: "LIA-2024-003"
        statutory-reference:
          type: string
          maxLength: 500
          nullable: true
          description: >
            The statutory instrument, regulation, or licence condition authorising
            this Controller's access. Expected on `sole` and `lead` entries when
            `legal-basis` is `uk-public-task` or `uk-legal-obligation`.
          example: "Energy Act 2023, s.147"
        storage-conditions:
          nullable: true
          description: >
            Where and for how long this Controller stores the data. Required on
            `sole` and `lead` entries. Optional on `joint` entries where storage
            arrangements differ. Omitted on `member` entries.
          allOf:
            - $ref: "#/components/schemas/StorageConditions"
      required:
        - name
        - role
        - contact-url

    ControllerArrangement:
      type: object
      description: |
        **ISO 27560 Section 1 — Controller Arrangement**

        Describes the controller(s) accountable for this access record. Supports
        three arrangement types:

        **`sole`** — single controller. `controllers` has exactly one entry with
        `role: sole`. `art26-reference` must be null.

        **`joint`** — two or more legally distinct controllers jointly determining
        the purposes and means of processing (UK GDPR Art. 26). Exactly one entry
        must carry `role: lead`; all others carry `role: joint`. `art26-reference`
        is required and must point to the inter-controller arrangement document.
        Each controller should supply their own `privacy-rights-url`, `lia-reference`,
        and `statutory-reference` as applicable.

        **`group`** — one accountable lead plus trading names or subsidiaries listed
        for customer transparency. Exactly one entry carries `role: lead`; all others
        carry `role: member`. `art26-reference` must be null. Per-controller
        compliance fields are only required on the lead entry.

        In all cases the customer can exercise their GDPR rights against any
        controller listed — the `contact-url` and `privacy-rights-url` on each
        entry (where present) are shown in the Customer Portal.
      properties:
        arrangement-type:
          $ref: "#/components/schemas/ControllerArrangementType"
        art26-reference:
          type: string
          maxLength: 500
          nullable: true
          description: >
            Reference to the Art. 26 inter-controller arrangement (e.g. a contract
            reference or document URL). Required when `arrangement-type` is `joint`;
            must be null for `sole` and `group`.
          example: "JCA-2024-BrightGrid-001"
        controllers:
          type: array
          minItems: 1
          description: >
            The controller entries for this arrangement. Must contain exactly one
            `lead` (or `sole`) entry. Joint arrangements require at least two entries.
          items:
            $ref: "#/components/schemas/Controller"
      required:
        - arrangement-type
        - controllers

    RecordMetadata:
      type: object
      description: |
        **ISO 27560 Section 1 — Record Metadata**

        `record-identifier` and `created-at` are assigned by the register on creation
        and returned in responses; they must not be supplied in request bodies.

        `identity-record-ref` links this access record to the Identity Record that
        holds the person-property relationship (PII principal, move-in date, address,
        and identity verification evidence). Supply the `ir` key returned when the
        Identity Record was created. The linked Identity Record must have been
        registered by the same authenticated Data User.
      properties:
        schema-version:
          type: string
          description: Version of the schema profile this record conforms to.
          example: "1.0"
        record-identifier:
          readOnly: true
          $ref: "#/components/schemas/AccessKey"
        created-at:
          type: string
          format: date-time
          readOnly: true
          description: >
            UTC timestamp when this record was created in the register. May differ
            from `access-event.registered-at` for historic registrations.
          example: "2024-01-15T09:30:00Z"
        controller-arrangement:
          $ref: "#/components/schemas/ControllerArrangement"
        identity-record-ref:
          $ref: "#/components/schemas/IdentityRecordKey"
          description: >
            Reference to the Identity Record holding the person-property relationship
            for this access registration. The `ir` key is issued when the Identity
            Record is created via `POST /identity-records`.
      required:
        - schema-version
        - controller-arrangement
        - identity-record-ref

    PIIPrincipal:
      type: object
      description: >
        Identifies the customer and their property. MPxN is the primary identifier;
        personal name and email are excluded to minimise PII held centrally.
      properties:
        mpxn:
          $ref: "#/components/schemas/MPxN"
        move-in-date:
          type: string
          format: date
          description: >
            Date the customer began occupying the property. Establishes the earliest
            point from which data access applies (inclusive).
          example: "2022-06-30"
        address:
          $ref: "#/components/schemas/UKAddress"
      required:
        - mpxn
        - move-in-date

    # -------------------------------------------------------------------------
    # Identity Records — person-property relationship and re-identification
    # -------------------------------------------------------------------------

    CredentialId:
      type: string
      pattern: "^cred_[0-9a-f]{24}$"
      description: Unique identifier for a registered passkey credential.
      example: "cred_1a2b3c4d5e6f1a2b3c4d5e6f"

    PasskeyCredentialSummary:
      type: object
      description: >
        Metadata for a registered passkey credential. Public key material is
        never returned — only the credential ID and registration timestamp.
      properties:
        credential-id:
          $ref: "#/components/schemas/CredentialId"
        registered-at:
          type: string
          format: date-time
          description: UTC timestamp when this credential was registered.
          example: "2024-01-15T09:35:00Z"
        transports:
          type: array
          description: >
            Authenticator transport hints as reported by the browser at registration
            (e.g. "internal", "hybrid", "usb"). Informational only.
          items:
            type: string
          example:
            - internal
      required:
        - credential-id
        - registered-at

    ReIdentifyMethod:
      type: string
      description: |
        The re-identification method to use.

        **`magic-link`** — single-step. The register dispatches a signed link to
        the stored email address. Optionally supply `redirect-url` to send the
        customer back to the Data User's app after clicking; otherwise the customer
        lands on `central.consent`. Poll or check
        `GET /identity-records/{ir}/re-identify/{token-ref}` to confirm.

        **`passkey-assert`** — two-step redirect. The response contains a
        `passkey-redirect` with a short-lived URL to `id.central.consent`. Redirect
        the customer there; the register runs the WebAuthn assertion against the
        stored public key on its own origin, then redirects back with
        `?dar-passkey-token={token-ref}`. Call
        `GET /identity-records/{ir}/re-identify/{token-ref}` once to confirm.

        **`passkey-register`** — two-step redirect for new device enrolment. Same
        flow as `passkey-assert` but runs a registration ceremony instead of
        assertion. Stores a new public key credential on the Identity Record and
        confirms re-identification on success.
      enum:
        - magic-link
        - passkey-assert
        - passkey-register

    ReIdentifyRequest:
      type: object
      description: >
        Request body for `POST /identity-records/{ir}/re-identify`.
      properties:
        method:
          $ref: "#/components/schemas/ReIdentifyMethod"
        redirect-url:
          type: string
          format: uri
          nullable: true
          description: >
            Optional. Only valid when `method` is `magic-link`. A URL to redirect
            the customer to after they click the magic link and the register has
            confirmed their identity. Must exactly match a URL pre-registered for
            the Data User's DUID.

            When supplied, the register appends `?dar-reid-token={token-ref}` to
            the URL before redirecting. The Data User reads `dar-reid-token` from
            the query string and calls
            `GET /identity-records/{ir}/re-identify/{token-ref}` once to confirm
            `status: confirmed` — no polling required.

            When omitted, the customer lands on a confirmation page at
            `central.consent` after clicking the link. The Data User must poll
            `GET /identity-records/{ir}/re-identify/{token-ref}` to detect
            confirmation.
          example: "https://app.bright-energy.com/renew/confirmed"
        passkey-return-url:
          type: string
          format: uri
          nullable: true
          description: >
            Optional. Only valid when `method` is `passkey-assert` or
            `passkey-register`. The URL the register redirects the customer back to
            after the WebAuthn ceremony completes on `id.central.consent`. Must
            exactly match a URL pre-registered for the Data User's DUID. The
            register appends `?dar-passkey-token={token-ref}` on success.

            When omitted, the customer lands on a completion page at
            `id.central.consent`.
          example: "https://app.bright-energy.com/renew/confirmed"
      required:
        - method

    PasskeyRedirect:
      type: object
      description: >
        A short-lived redirect to `id.central.consent` where the register completes
        the WebAuthn ceremony on its own origin. Present when a passkey method was
        initiated; null otherwise. Redirect the customer to `redirect-url`
        immediately — the session expires in 5 minutes.

        On completion, the register redirects the customer back to `return-url`
        (if supplied) with `?dar-passkey-token={token-ref}` appended. Call
        `GET /identity-records/{ir}/re-identify/{token-ref}` once to confirm.
      properties:
        redirect-url:
          type: string
          format: uri
          description: >
            Short-lived URL to `id.central.consent` that initiates the WebAuthn
            ceremony. Valid for 5 minutes; single-use.
          example: "https://id.central.consent/passkey/assert?session=pks_a1b2c3d4e5f6a1b2c3d4e5f6"
        token-ref:
          type: string
          pattern: "^mlr_[0-9a-f]{24}$"
          description: >
            Opaque reference to confirm completion. The register appends
            `?dar-passkey-token={token-ref}` to the `return-url` after the ceremony.
            Call `GET /identity-records/{ir}/re-identify/{token-ref}` once to verify
            `status: confirmed`.
          example: "mlr_1a2b3c4d5e6f1a2b3c4d5e6f"
        expires-at:
          type: string
          format: date-time
          description: UTC timestamp when the redirect URL expires.
          example: "2026-03-24T09:05:00Z"
        return-url:
          type: string
          format: uri
          nullable: true
          description: >
            The registered return URL supplied in the request, if any. Echoed back
            for confirmation. Null when no `passkey-return-url` was supplied.
          example: "https://app.bright-energy.com/renew/confirmed"
      required:
        - redirect-url
        - token-ref
        - expires-at

    MagicLinkDetails:
      type: object
      description: >
        Present when a magic-link re-identification was initiated. Null for passkey methods.
      properties:
        dispatched-to:
          type: string
          description: >
            Redacted representation of the email address the link was dispatched to
            (e.g. "c*****r@example.com"). The full address is never echoed back.
          example: "c*****r@example.com"
        expires-at:
          type: string
          format: date-time
          description: UTC timestamp when the magic link expires (15 minutes from dispatch).
          example: "2026-03-24T09:15:00Z"
        token-ref:
          type: string
          pattern: "^mlr_[0-9a-f]{24}$"
          description: >
            Opaque reference used to confirm re-identification. When a `redirect-url`
            was supplied, the register appends `?dar-reid-token={token-ref}` to it
            after the customer clicks the link — read this from the query string
            and call `GET /identity-records/{ir}/re-identify/{token-ref}` once.
            When no `redirect-url` was supplied, poll that endpoint until confirmed.
          example: "mlr_9f8e7d6c5b4a9f8e7d6c5b4a"
        redirect-url:
          type: string
          format: uri
          nullable: true
          description: >
            The registered redirect URL supplied in the request, if any. Echoed back
            for confirmation. Null when no `redirect-url` was supplied.
          example: "https://app.bright-energy.com/renew/confirmed"
      required:
        - dispatched-to
        - expires-at
        - token-ref

    ReIdentifyResponse:
      type: object
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        method:
          $ref: "#/components/schemas/ReIdentifyMethod"
        magic-link:
          nullable: true
          description: Populated for `magic-link` method; null otherwise.
          allOf:
            - $ref: "#/components/schemas/MagicLinkDetails"
        passkey:
          nullable: true
          description: >
            Populated for `passkey-assert` and `passkey-register` methods; null
            for `magic-link`. Contains the redirect URL to `id.central.consent`
            where the WebAuthn ceremony takes place.
          allOf:
            - $ref: "#/components/schemas/PasskeyRedirect"
      required:
        - response
        - method

    ReIdentifyStatusResponse:
      type: object
      description: >
        Status of a pending magic-link or passkey re-identification flow.
        Returned by `GET /identity-records/{ir}/re-identify/{token-ref}`.
      properties:
        response:
          $ref: "#/components/schemas/ResponseMetadata"
        method:
          $ref: "#/components/schemas/ReIdentifyMethod"
          description: The re-identification method that generated this token.
        status:
          type: string
          description: |
            - `pending` — awaiting customer action (link not yet clicked, or passkey
              ceremony not yet completed).
            - `confirmed` — re-identification complete.
            - `expired` — window elapsed without completion (15 minutes for magic
              link; 5 minutes for passkey redirect).
          enum:
            - pending
            - confirmed
            - expired
        confirmed-at:
          type: string
          format: date-time
          nullable: true
          description: UTC timestamp of confirmation. Null until `status` is `confirmed`.
          example: "2026-03-24T09:07:28Z"
      required:
        - response
        - method
        - status
        - confirmed-at

    CreateIdentityRecordRequest:
      type: object
      description: >
        Request body for `POST /identity-records`. Extends the core `IdentityRecord`
        fields with `email`, `initiate-passkey-registration`, and `passkey-return-url`.
      properties:
        pii-principal:
          $ref: "#/components/schemas/PIIPrincipal"
        expressed-by:
          $ref: "#/components/schemas/ExpressionByEntity"
          description: >
            Who expressed consent or initiated the access registration — the data
            subject themselves, or an authorised representative.
        principal-verification:
          nullable: true
          description: >
            How the Controller verified the identity of the principal. Strongly
            recommended. Null if no structured verification was performed.
          allOf:
            - $ref: "#/components/schemas/PrincipalVerification"
        email:
          type: string
          format: email
          nullable: true
          description: >
            Customer email address. Stored as a one-way hash — never returned in
            plaintext in any response. Required if magic-link re-identification is
            to be used. Also enables email-based lookup via
            `GET /identity-records?email=...`.
          example: "customer@example.com"
        initiate-passkey-registration:
          type: boolean
          default: false
          description: >
            If `true`, the register generates a passkey registration session and
            returns a `passkey-registration-redirect`. Redirect the customer to the
            supplied URL; the register completes the WebAuthn ceremony on
[...]
